flows.json
[
    {
        "id": "54343cf33bf0a216",
        "type": "tab",
        "label": "Global",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a707f17e5367291d",
        "type": "tab",
        "label": "Page Home",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "981fcccea4aa6cd3",
        "type": "tab",
        "label": "Page Sample",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "856e96fc4678e0ab",
        "type": "tab",
        "label": "Page Preview",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b4a53df95ffe5a7e",
        "type": "tab",
        "label": "Page Acquisition",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b7320d7a8092d013",
        "type": "tab",
        "label": "Page Segmentation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9e50b5b27cc27750",
        "type": "group",
        "z": "a707f17e5367291d",
        "name": "Left",
        "style": {
            "label": true
        },
        "nodes": [
            "8d830e194c4c638c",
            "fdf53b09d89c279d",
            "34dbd3041722720a",
            "56cae65eafe7a2c2",
            "30e107bae928c06e",
            "44eb5b49b8b424a0",
            "075a15808a098657"
        ],
        "x": 54,
        "y": 219,
        "w": 632,
        "h": 302
    },
    {
        "id": "f4342ba54d87c333",
        "type": "group",
        "z": "a707f17e5367291d",
        "name": "Right",
        "style": {
            "label": true
        },
        "nodes": [
            "b1e36b2718644cab",
            "f366a87b6ae313da",
            "0dc415ec85c54eaf",
            "967f57a653bbd135",
            "9b648872ae81aab5",
            "c8ed469b996d6c31"
        ],
        "x": 254,
        "y": 919,
        "w": 432,
        "h": 302
    },
    {
        "id": "527d5d50cd394426",
        "type": "group",
        "z": "a707f17e5367291d",
        "name": "Top",
        "style": {
            "label": true
        },
        "nodes": [
            "323bd09eef621b97",
            "0fbc2b8ebb65e449",
            "cc0d72fac71f394d",
            "0007fbbf1742c6e8"
        ],
        "x": 534,
        "y": 79,
        "w": 492,
        "h": 122
    },
    {
        "id": "332ccbf2ae090d80",
        "type": "group",
        "z": "a707f17e5367291d",
        "name": "Middle",
        "style": {
            "label": true
        },
        "nodes": [
            "723e895a8f1cda7f",
            "aa381230d4defcd0",
            "b05631dc409a09e2",
            "127bf74d5d7eab6b",
            "6bc8c275a77643bf",
            "7df6c5b3dd81f3d3",
            "8a142d5df39bb034",
            "f19782d70300bd35",
            "a89f1c52710b353b",
            "9512f26042fce871",
            "e33ffe5425144df6",
            "e9aa014928dbf283"
        ],
        "x": 534,
        "y": 539,
        "w": 492,
        "h": 362
    },
    {
        "id": "b698ee124c6364a8",
        "type": "group",
        "z": "981fcccea4aa6cd3",
        "name": "Section two",
        "style": {
            "label": true
        },
        "nodes": [
            "0d548d9dedc42ca5",
            "4d9f66a9d7ff2fb3",
            "a6b029701951e396",
            "e96f71ebfe63a096",
            "c5c38b219eae9cb1",
            "5ce0f6f785b673d5",
            "56be1c1433d47087",
            "20117488794ba954",
            "218c0062b645c48b",
            "0c0c9e99761af7a4"
        ],
        "x": 484,
        "y": 539,
        "w": 202,
        "h": 282
    },
    {
        "id": "cb3409a9c0969265",
        "type": "group",
        "z": "981fcccea4aa6cd3",
        "name": "Section one",
        "style": {
            "label": true
        },
        "nodes": [
            "9a745babe0aa57ff",
            "f25e848644692981",
            "99dd39f5bbec7746",
            "16a4c7cd1d7e8533",
            "70f610f6b44b688f",
            "fedc36d5e5a1233b",
            "ce0b97fbe12096d4",
            "4874dff54f36d7c5",
            "ea111f01cf618fcc",
            "dfa130d77e0f7593",
            "a216d7b242ae1c11",
            "14ec7f6db647b1ea",
            "200adbd137d1bb48",
            "af6f20dca4623118",
            "0f7cd6bef1fabbae",
            "d1978bb3ebd07df5",
            "e2bd9ff70c986f83",
            "c8c4b479eda45fd6",
            "6d96f609b6fe014e"
        ],
        "x": 484,
        "y": 79,
        "w": 202,
        "h": 442
    },
    {
        "id": "33c938d6423969a7",
        "type": "group",
        "z": "981fcccea4aa6cd3",
        "name": "Section three",
        "style": {
            "label": true
        },
        "nodes": [
            "b8243750773e70a7",
            "1b3f62dc4d377a48",
            "14f5347edcef1819",
            "c541da8f17509ff6",
            "54ed25532a21e31f",
            "940c9ff52c8397c5",
            "38bc4e7ef01de697",
            "256376a924474adf",
            "977d11b921fcd1ab"
        ],
        "x": 534,
        "y": 839,
        "w": 152,
        "h": 442
    },
    {
        "id": "da259b2c4e6e3578",
        "type": "group",
        "z": "981fcccea4aa6cd3",
        "name": "Section button",
        "style": {
            "label": true
        },
        "nodes": [
            "6fcfbd3718966cc5",
            "e287895877f1a53c",
            "145a816e57898c7f"
        ],
        "x": 534,
        "y": 1299,
        "w": 152,
        "h": 162
    },
    {
        "id": "90e4b408c6998f71",
        "type": "group",
        "z": "856e96fc4678e0ab",
        "name": "Settings",
        "style": {
            "label": true
        },
        "nodes": [
            "23ad5da3e2cba669",
            "ccac4bc3157e9909",
            "eec271879f59041a",
            "a265553dae3d4f6f",
            "138e5fa64dc3fdbc",
            "b358b79901f11352",
            "3774989fb468f88f",
            "3aaa1a0b628e30af",
            "c4b57da3bf2d860d"
        ],
        "x": 734,
        "y": 179,
        "w": 272,
        "h": 322
    },
    {
        "id": "1eeac55ba6b9065f",
        "type": "ui-base",
        "name": "PlanktoScope Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "icon"
    },
    {
        "id": "43f40797e7f6bb4b",
        "type": "ui-page",
        "name": "Home",
        "ui": "1eeac55ba6b9065f",
        "path": "/home",
        "icon": "home",
        "layout": "grid",
        "theme": "c0ea559892f9bd33",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "0174b387db7315f9",
        "type": "ui-group",
        "name": "Top",
        "page": "43f40797e7f6bb4b",
        "width": "12",
        "height": "1",
        "order": -1,
        "showTitle": false,
        "className": "top-home",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "c0ea559892f9bd33",
        "type": "ui-theme",
        "name": "FairsSope Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#000000",
            "bgPage": "#ffffff",
            "groupBg": "#ffffff",
            "groupOutline": "#ffffff"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "0px",
            "groupBorderRadius": "4px",
            "widgetGap": "0px"
        }
    },
    {
        "id": "5aee203b5c149352",
        "type": "ui-group",
        "name": "Left",
        "page": "43f40797e7f6bb4b",
        "width": "4",
        "height": "7",
        "order": -1,
        "showTitle": false,
        "className": "left-home",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "18c4119d20b245af",
        "type": "ui-group",
        "name": "Midlle",
        "page": "43f40797e7f6bb4b",
        "width": "4",
        "height": "1",
        "order": -1,
        "showTitle": false,
        "className": "middle-home",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "a3b1938e41297818",
        "type": "ui-group",
        "name": "Right",
        "page": "43f40797e7f6bb4b",
        "width": "4",
        "height": "7",
        "order": -1,
        "showTitle": false,
        "className": "right-home",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "e7f37ce9c08266be",
        "type": "ui-page",
        "name": "Sample",
        "ui": "1eeac55ba6b9065f",
        "path": "/sample",
        "icon": "file",
        "layout": "grid",
        "theme": "c0ea559892f9bd33",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "3720bdc972d93bca",
        "type": "ui-page",
        "name": "Preview",
        "ui": "1eeac55ba6b9065f",
        "path": "/preview",
        "icon": "eye-outline",
        "layout": "grid",
        "theme": "c0ea559892f9bd33",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "156c087dabd0538c",
        "type": "ui-page",
        "name": "Acquisition",
        "ui": "1eeac55ba6b9065f",
        "path": "/acquisition",
        "icon": "camera",
        "layout": "grid",
        "theme": "c0ea559892f9bd33",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "b59606fb98c818ca",
        "type": "ui-page",
        "name": "Segmentation",
        "ui": "1eeac55ba6b9065f",
        "path": "/segmentation",
        "icon": "puzzle",
        "layout": "grid",
        "theme": "c0ea559892f9bd33",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "bad72850424336e4",
        "type": "ui-group",
        "name": "Section-one-title",
        "page": "e7f37ce9c08266be",
        "width": "12",
        "height": "1",
        "order": -1,
        "showTitle": false,
        "className": "section-title",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "dd8e995ac111df0c",
        "type": "ui-group",
        "name": "Section-one-body",
        "page": "e7f37ce9c08266be",
        "width": "12",
        "height": "1",
        "order": -1,
        "showTitle": false,
        "className": "section-one-body",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "0679dc4ce9f0e478",
        "type": "ui-group",
        "name": "Section-two-title",
        "page": "e7f37ce9c08266be",
        "width": "12",
        "height": "1",
        "order": -1,
        "showTitle": false,
        "className": "section-title",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "fac26d81ec165214",
        "type": "ui-group",
        "name": "Section-two-body",
        "page": "e7f37ce9c08266be",
        "width": "12",
        "height": "1",
        "order": -1,
        "showTitle": false,
        "className": "section-two-body",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "138464b8406179be",
        "type": "ui-group",
        "name": "Section-three-title",
        "page": "e7f37ce9c08266be",
        "width": "12",
        "height": "1",
        "order": -1,
        "showTitle": false,
        "className": "section-title",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "e7bc4036e18081e2",
        "type": "ui-group",
        "name": "Section-three-body",
        "page": "e7f37ce9c08266be",
        "width": "6",
        "height": "1",
        "order": -1,
        "showTitle": false,
        "className": "section-three-body",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "37db4ac7dd925282",
        "type": "ui-group",
        "name": "Section-four",
        "page": "e7f37ce9c08266be",
        "width": "12",
        "height": "1",
        "order": -1,
        "showTitle": false,
        "className": "section-four",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "2a664c8b638bbad5",
        "type": "ui-group",
        "name": "Settings",
        "page": "3720bdc972d93bca",
        "width": "4",
        "height": "7",
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "f0c03d9da6035e34",
        "type": "ui-group",
        "name": "Preview",
        "page": "3720bdc972d93bca",
        "width": "8",
        "height": "9",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "8c7099c47f2f84ee",
        "type": "ui-group",
        "name": "Group 1",
        "page": "156c087dabd0538c",
        "width": "12",
        "height": "1",
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "343127516357e339",
        "type": "ui-group",
        "name": "Group 2",
        "page": "156c087dabd0538c",
        "width": "12",
        "height": "1",
        "order": 3,
        "showTitle": false,
        "className": "",
        "visible": "false",
        "disabled": "false"
    },
    {
        "id": "8a0bb0712047ff56",
        "type": "ui-group",
        "name": "Section-bottom",
        "page": "e7f37ce9c08266be",
        "width": "12",
        "height": "1",
        "order": -1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "db628ba400a981fc",
        "type": "ui-template",
        "z": "54343cf33bf0a216",
        "group": "",
        "page": "",
        "ui": "1eeac55ba6b9065f",
        "name": "Custom CSS - All pages",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "/* Global CSS - All pages */\n\n.v-navigation-drawer {\n    border: 0px solid transparent;\n    color: #000000;\n    background-color: transparent !important;\n}\n\n.elevation-1 {\n    box-shadow: 0 0px 0px 0px !important;\n}\n\n.v-toolbar-title__placeholder {\n    color: #000000 !important;\n    font-weight: bold;\n}\n\ntemplate {\n    background-color: white !important;\n}",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "site:style",
        "className": "",
        "x": 630,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "8d830e194c4c638c",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "9e50b5b27cc27750",
        "group": "5aee203b5c149352",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "text",
        "label": "Software version",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "information-text",
        "x": 610,
        "y": 260,
        "wires": []
    },
    {
        "id": "fdf53b09d89c279d",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "9e50b5b27cc27750",
        "group": "5aee203b5c149352",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "text",
        "label": "Instrument type",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "information-text",
        "x": 610,
        "y": 320,
        "wires": []
    },
    {
        "id": "34dbd3041722720a",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "9e50b5b27cc27750",
        "group": "5aee203b5c149352",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "text",
        "label": "Instrument name",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "information-text",
        "x": 610,
        "y": 380,
        "wires": []
    },
    {
        "id": "b1e36b2718644cab",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "f4342ba54d87c333",
        "group": "a3b1938e41297818",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "text",
        "label": "Image taken",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "information-text",
        "x": 610,
        "y": 960,
        "wires": []
    },
    {
        "id": "f366a87b6ae313da",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "f4342ba54d87c333",
        "group": "a3b1938e41297818",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "text",
        "label": "Time used",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "information-text",
        "x": 610,
        "y": 1020,
        "wires": []
    },
    {
        "id": "0dc415ec85c54eaf",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "f4342ba54d87c333",
        "group": "a3b1938e41297818",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "text",
        "label": "Sample taken",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "information-text",
        "x": 610,
        "y": 1080,
        "wires": []
    },
    {
        "id": "e22e55f93548ed69",
        "type": "ui-template",
        "z": "a707f17e5367291d",
        "group": "",
        "page": "43f40797e7f6bb4b",
        "ui": "",
        "name": "Custom CSS",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "/* Custom CSS - Home page */\n\n/* .styled-button-visual */\n\n.styled-button-visual .v-btn .v-icon {\n    height: 0px !important;\n    --v-icon-size-multiplier: 3;\n    color: #000000;\n}\n\n.styled-button-visual .v-btn {\n    background-color:rgba(255, 0, 0, 0);\n    padding: 2.5em 2.5em;\n}\n\n/* .button-label */\n\n.button-label span.nrdb-ui-text-value {\n    color: #000000;\n    font-weight: bold;\n    font-size: 14px;\n    margin-bottom: 10%;\n}\n\n/* .styled-button */\n\n.styled-button .v-btn .v-icon {\n    height: 0px !important;\n    --v-icon-size-multiplier: 3;\n}\n\n.styled-button .v-btn {\n    padding: 3.5em 3.5em;\n}\n\n/* .title-top */\n\n.title-top {\n    margin-bottom: 25px;\n}\n\n/* .top-button */\n\n.top-button {\n    justify-content: center;\n    width: 100%;\n}\n\n.top-button .v-btn {\n    border-radius: 10px;\n}\n\n.top-button .v-btn * {\n    font-size: xx-large;\n    padding: 0.5em 2em;\n}\n\n/* .information-text */\n\n.information-text label {\n    text-align: center;\n    background-color: #000000;\n    padding: 2% 12% 2% 12%;\n    min-width: 60%;\n    border-radius: 20px;\n    color: #ffffff\n}\n\n.information-text span.nrdb-ui-text-value {\n    color: #000000;\n    font-size: 14px;\n    margin-bottom: 11%;\n}\n\n/* .top-home */\n\n.top-home {\n    margin-bottom: 2rem;\n    background-color: transparent !important;\n}",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "",
        "x": 610,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "075a15808a098657",
        "type": "inject",
        "z": "a707f17e5367291d",
        "g": "9e50b5b27cc27750",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"software-version\":\"v2024.0.0-aplha.0\",\"instrument-type\":\"PlanktoScope v2.6\",\"instrument-name\":\"complete-wind-49753\"}",
        "payloadType": "json",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "958e97d91b7af70f",
                "1d8323910805aad9",
                "e7fb51cac66d4d53"
            ]
        ]
    },
    {
        "id": "958e97d91b7af70f",
        "type": "function",
        "z": "a707f17e5367291d",
        "name": "function 1",
        "func": "var value = msg.payload[\"software-version\"];\n\nmsg.payload = value\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 260,
        "wires": [
            [
                "8d830e194c4c638c"
            ]
        ]
    },
    {
        "id": "1d8323910805aad9",
        "type": "function",
        "z": "a707f17e5367291d",
        "name": "function 2",
        "func": "var value = msg.payload[\"instrument-type\"];\n\nmsg.payload = value\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 320,
        "wires": [
            [
                "fdf53b09d89c279d"
            ]
        ]
    },
    {
        "id": "e7fb51cac66d4d53",
        "type": "function",
        "z": "a707f17e5367291d",
        "name": "function 3",
        "func": "var value = msg.payload[\"instrument-name\"];\n\nmsg.payload = value\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 380,
        "wires": [
            [
                "34dbd3041722720a"
            ]
        ]
    },
    {
        "id": "d80807f8f8f08a43",
        "type": "inject",
        "z": "a707f17e5367291d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"image-taken\":\"34.587.624\",\"time-used\":\"256h\",\"sample-taken\":\"10.000\"}",
        "payloadType": "json",
        "x": 160,
        "y": 1020,
        "wires": [
            [
                "1da8f6bad390834c",
                "c70fcb3a379e78b2",
                "107b489639a008f0"
            ]
        ]
    },
    {
        "id": "1da8f6bad390834c",
        "type": "function",
        "z": "a707f17e5367291d",
        "name": "function 4",
        "func": "var value = msg.payload[\"image-taken\"];\n\nmsg.payload = value\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 960,
        "wires": [
            [
                "b1e36b2718644cab"
            ]
        ]
    },
    {
        "id": "c70fcb3a379e78b2",
        "type": "function",
        "z": "a707f17e5367291d",
        "name": "function 5",
        "func": "var value = msg.payload[\"time-used\"];\n\nmsg.payload = value\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1020,
        "wires": [
            [
                "f366a87b6ae313da"
            ]
        ]
    },
    {
        "id": "107b489639a008f0",
        "type": "function",
        "z": "a707f17e5367291d",
        "name": "function 6",
        "func": "var value = msg.payload[\"sample-taken\"];\n\nmsg.payload = value\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1080,
        "wires": [
            [
                "0dc415ec85c54eaf"
            ]
        ]
    },
    {
        "id": "323bd09eef621b97",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "527d5d50cd394426",
        "group": "0174b387db7315f9",
        "order": 0,
        "width": "12",
        "height": "1",
        "name": "Title",
        "label": "PlanktoScope",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": true,
        "font": "Palatino Linotype,Palatino,Book Antiqua,serif",
        "fontSize": "74",
        "color": "#000000",
        "className": "title-top",
        "x": 610,
        "y": 120,
        "wires": []
    },
    {
        "id": "0fbc2b8ebb65e449",
        "type": "ui-button",
        "z": "a707f17e5367291d",
        "g": "527d5d50cd394426",
        "group": "0174b387db7315f9",
        "name": "button",
        "label": "Run a sample",
        "order": 0,
        "width": "0",
        "height": "0",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "top-button",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 160,
        "wires": [
            [
                "cc0d72fac71f394d"
            ]
        ]
    },
    {
        "id": "723e895a8f1cda7f",
        "type": "ui-button",
        "z": "a707f17e5367291d",
        "g": "332ccbf2ae090d80",
        "group": "18c4119d20b245af",
        "name": "button",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "styled-button",
        "icon": "file-find-outline",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 580,
        "wires": [
            [
                "9512f26042fce871"
            ]
        ]
    },
    {
        "id": "aa381230d4defcd0",
        "type": "ui-button",
        "z": "a707f17e5367291d",
        "g": "332ccbf2ae090d80",
        "group": "18c4119d20b245af",
        "name": "button",
        "label": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "styled-button",
        "icon": "wifi-cog",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 700,
        "wires": [
            [
                "8a142d5df39bb034"
            ]
        ]
    },
    {
        "id": "b05631dc409a09e2",
        "type": "ui-button",
        "z": "a707f17e5367291d",
        "g": "332ccbf2ae090d80",
        "group": "18c4119d20b245af",
        "name": "button",
        "label": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "styled-button",
        "icon": "comment-quote",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 820,
        "wires": [
            [
                "e33ffe5425144df6"
            ]
        ]
    },
    {
        "id": "127bf74d5d7eab6b",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "332ccbf2ae090d80",
        "group": "18c4119d20b245af",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "text",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "button-label",
        "x": 610,
        "y": 620,
        "wires": []
    },
    {
        "id": "6bc8c275a77643bf",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "332ccbf2ae090d80",
        "group": "18c4119d20b245af",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "text",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "button-label",
        "x": 610,
        "y": 740,
        "wires": []
    },
    {
        "id": "7df6c5b3dd81f3d3",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "332ccbf2ae090d80",
        "group": "18c4119d20b245af",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "text",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "button-label",
        "x": 610,
        "y": 860,
        "wires": []
    },
    {
        "id": "7645e99011d73972",
        "type": "inject",
        "z": "a707f17e5367291d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Documentation",
        "payloadType": "str",
        "x": 420,
        "y": 620,
        "wires": [
            [
                "127bf74d5d7eab6b"
            ]
        ]
    },
    {
        "id": "2f072d8a53688b53",
        "type": "inject",
        "z": "a707f17e5367291d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Connectivity",
        "payloadType": "str",
        "x": 410,
        "y": 740,
        "wires": [
            [
                "6bc8c275a77643bf"
            ]
        ]
    },
    {
        "id": "b9514c9c8ddcbb62",
        "type": "inject",
        "z": "a707f17e5367291d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Feedback",
        "payloadType": "str",
        "x": 400,
        "y": 860,
        "wires": [
            [
                "7df6c5b3dd81f3d3"
            ]
        ]
    },
    {
        "id": "56cae65eafe7a2c2",
        "type": "ui-button",
        "z": "a707f17e5367291d",
        "g": "9e50b5b27cc27750",
        "group": "5aee203b5c149352",
        "name": "button",
        "label": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "styled-button-visual",
        "icon": "wifi",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "30e107bae928c06e",
        "type": "inject",
        "z": "a707f17e5367291d",
        "g": "9e50b5b27cc27750",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Connected",
        "payloadType": "str",
        "x": 370,
        "y": 480,
        "wires": [
            [
                "44eb5b49b8b424a0"
            ]
        ]
    },
    {
        "id": "44eb5b49b8b424a0",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "9e50b5b27cc27750",
        "group": "5aee203b5c149352",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "text",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "button-label",
        "x": 610,
        "y": 480,
        "wires": []
    },
    {
        "id": "967f57a653bbd135",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "f4342ba54d87c333",
        "group": "a3b1938e41297818",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "text",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "button-label",
        "x": 610,
        "y": 1180,
        "wires": []
    },
    {
        "id": "9b648872ae81aab5",
        "type": "inject",
        "z": "a707f17e5367291d",
        "g": "f4342ba54d87c333",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "250 Go Remaining",
        "payloadType": "str",
        "x": 390,
        "y": 1180,
        "wires": [
            [
                "967f57a653bbd135"
            ]
        ]
    },
    {
        "id": "c8ed469b996d6c31",
        "type": "ui-button",
        "z": "a707f17e5367291d",
        "g": "f4342ba54d87c333",
        "group": "a3b1938e41297818",
        "name": "button",
        "label": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "styled-button-visual",
        "icon": "sd",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "cc0d72fac71f394d",
        "type": "change",
        "z": "a707f17e5367291d",
        "g": "527d5d50cd394426",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"page\":\"Sample\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 160,
        "wires": [
            [
                "0007fbbf1742c6e8"
            ]
        ]
    },
    {
        "id": "0007fbbf1742c6e8",
        "type": "ui-control",
        "z": "a707f17e5367291d",
        "g": "527d5d50cd394426",
        "name": "",
        "ui": "1eeac55ba6b9065f",
        "events": "all",
        "x": 940,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "a89f1c52710b353b",
        "type": "ui-control",
        "z": "a707f17e5367291d",
        "g": "332ccbf2ae090d80",
        "name": "",
        "ui": "1eeac55ba6b9065f",
        "events": "all",
        "x": 940,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "9512f26042fce871",
        "type": "change",
        "z": "a707f17e5367291d",
        "g": "332ccbf2ae090d80",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"page\":\"Documentation\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 580,
        "wires": [
            [
                "a89f1c52710b353b"
            ]
        ]
    },
    {
        "id": "8a142d5df39bb034",
        "type": "change",
        "z": "a707f17e5367291d",
        "g": "332ccbf2ae090d80",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"page\":\"Connectivity\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 700,
        "wires": [
            [
                "f19782d70300bd35"
            ]
        ]
    },
    {
        "id": "f19782d70300bd35",
        "type": "ui-control",
        "z": "a707f17e5367291d",
        "g": "332ccbf2ae090d80",
        "name": "",
        "ui": "1eeac55ba6b9065f",
        "events": "all",
        "x": 940,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "e33ffe5425144df6",
        "type": "change",
        "z": "a707f17e5367291d",
        "g": "332ccbf2ae090d80",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"page\":\"Feedback\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 820,
        "wires": [
            [
                "e9aa014928dbf283"
            ]
        ]
    },
    {
        "id": "e9aa014928dbf283",
        "type": "ui-control",
        "z": "a707f17e5367291d",
        "g": "332ccbf2ae090d80",
        "name": "",
        "ui": "1eeac55ba6b9065f",
        "events": "all",
        "x": 940,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "759b2907628ee6e4",
        "type": "ui-template",
        "z": "981fcccea4aa6cd3",
        "group": "",
        "page": "e7f37ce9c08266be",
        "ui": "",
        "name": "Custom CSS",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "/* Custom CSS - Sample page */\n\n/* .section-four */\n\n.section-four div.nrdb-layout-group--grid {\n    display: flex !important;\n    justify-content: space-between !important;\n}\n\n/* .section-three-body */\n\n.section-three-body {\n    margin-bottom: 2rem !important;\n}\n\n/* .section-one-body */\n\n.section-one-body div.nrdb-layout-group--grid {\n    grid-gap: 10px !important;\n}\n\n/* .section-two-body*/\n\n.section-two-body div.nrdb-layout-group--grid {\n    grid-gap: 10px !important;\n}\n\n/* .information-text */\n\n.information-text label {\n    text-align: center !important;\n    background-color: #000000 !important;\n    padding: 1% 8% 1% 8% !important;\n    margin: 0% !important;\n    min-width: 60% !important;\n    border-radius: 20px !important;\n    color: #ffffff !important;\n}\n\n/* .section-title */\n\n.section-title .v-card-text {\n    padding: 0% 1rem !important;\n}",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "",
        "x": 610,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "9a745babe0aa57ff",
        "type": "ui-text",
        "z": "981fcccea4aa6cd3",
        "g": "cb3409a9c0969265",
        "group": "bad72850424336e4",
        "order": 0,
        "width": "6",
        "height": "1",
        "name": "text",
        "label": "Sample identification",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "information-text",
        "x": 610,
        "y": 120,
        "wires": []
    },
    {
        "id": "f25e848644692981",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "cb3409a9c0969265",
        "group": "dd8e995ac111df0c",
        "name": "",
        "label": "text",
        "order": 0,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 610,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "99dd39f5bbec7746",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "cb3409a9c0969265",
        "group": "dd8e995ac111df0c",
        "name": "",
        "label": "text",
        "order": 0,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 610,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "16a4c7cd1d7e8533",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "cb3409a9c0969265",
        "group": "dd8e995ac111df0c",
        "name": "",
        "label": "text",
        "order": 0,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 610,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "70f610f6b44b688f",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "cb3409a9c0969265",
        "group": "dd8e995ac111df0c",
        "name": "",
        "label": "text",
        "order": 0,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 610,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "fedc36d5e5a1233b",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "cb3409a9c0969265",
        "group": "dd8e995ac111df0c",
        "name": "",
        "label": "text",
        "order": 0,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 610,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "ce0b97fbe12096d4",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "cb3409a9c0969265",
        "group": "dd8e995ac111df0c",
        "name": "",
        "label": "text",
        "order": 0,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 610,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "4874dff54f36d7c5",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "cb3409a9c0969265",
        "group": "dd8e995ac111df0c",
        "name": "",
        "label": "text",
        "order": 0,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 610,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "ea111f01cf618fcc",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "cb3409a9c0969265",
        "group": "dd8e995ac111df0c",
        "name": "",
        "label": "text",
        "order": 0,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 610,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "dfa130d77e0f7593",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "cb3409a9c0969265",
        "group": "dd8e995ac111df0c",
        "name": "",
        "label": "text",
        "order": 0,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 610,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "0d548d9dedc42ca5",
        "type": "ui-text",
        "z": "981fcccea4aa6cd3",
        "g": "b698ee124c6364a8",
        "group": "0679dc4ce9f0e478",
        "order": 0,
        "width": "6",
        "height": "1",
        "name": "text",
        "label": "Coordinates - Datetime",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "information-text",
        "x": 610,
        "y": 580,
        "wires": []
    },
    {
        "id": "4d9f66a9d7ff2fb3",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "b698ee124c6364a8",
        "group": "fac26d81ec165214",
        "name": "text",
        "label": "Longitude",
        "order": 3,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 610,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "a6b029701951e396",
        "type": "ui-dropdown",
        "z": "981fcccea4aa6cd3",
        "g": "b698ee124c6364a8",
        "group": "fac26d81ec165214",
        "name": "Draw",
        "label": "Coordinates format",
        "tooltip": "",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "A",
                "value": "A",
                "type": "str"
            },
            {
                "label": "B",
                "value": "B",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 610,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "e96f71ebfe63a096",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "b698ee124c6364a8",
        "group": "fac26d81ec165214",
        "name": "text",
        "label": "Latitude",
        "order": 3,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 610,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "c5c38b219eae9cb1",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "b698ee124c6364a8",
        "group": "fac26d81ec165214",
        "name": "text",
        "label": "Min sampling depth",
        "order": 3,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 610,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "5ce0f6f785b673d5",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "b698ee124c6364a8",
        "group": "fac26d81ec165214",
        "name": "text",
        "label": "Max sampling depth",
        "order": 3,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 610,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "b8243750773e70a7",
        "type": "ui-text",
        "z": "981fcccea4aa6cd3",
        "g": "33c938d6423969a7",
        "group": "138464b8406179be",
        "order": 0,
        "width": "6",
        "height": "1",
        "name": "text",
        "label": "Fraction size",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "information-text",
        "x": 610,
        "y": 880,
        "wires": []
    },
    {
        "id": "1b3f62dc4d377a48",
        "type": "ui-text",
        "z": "981fcccea4aa6cd3",
        "g": "33c938d6423969a7",
        "group": "e7bc4036e18081e2",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "text",
        "label": "Min fraction size",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 610,
        "y": 940,
        "wires": []
    },
    {
        "id": "14f5347edcef1819",
        "type": "ui-text",
        "z": "981fcccea4aa6cd3",
        "g": "33c938d6423969a7",
        "group": "e7bc4036e18081e2",
        "order": 2,
        "width": "3",
        "height": "1",
        "name": "text",
        "label": "Max fraction size",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 610,
        "y": 1120,
        "wires": []
    },
    {
        "id": "c541da8f17509ff6",
        "type": "ui-button",
        "z": "981fcccea4aa6cd3",
        "g": "33c938d6423969a7",
        "group": "e7bc4036e18081e2",
        "name": "",
        "label": "",
        "order": 5,
        "width": "1",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "plus",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "54ed25532a21e31f",
        "type": "ui-button",
        "z": "981fcccea4aa6cd3",
        "g": "33c938d6423969a7",
        "group": "e7bc4036e18081e2",
        "name": "",
        "label": "",
        "order": 3,
        "width": "1",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "minus",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "940c9ff52c8397c5",
        "type": "ui-text",
        "z": "981fcccea4aa6cd3",
        "g": "33c938d6423969a7",
        "group": "e7bc4036e18081e2",
        "order": 4,
        "width": "1",
        "height": "1",
        "name": "text",
        "label": "100",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 610,
        "y": 980,
        "wires": []
    },
    {
        "id": "38bc4e7ef01de697",
        "type": "ui-button",
        "z": "981fcccea4aa6cd3",
        "g": "33c938d6423969a7",
        "group": "e7bc4036e18081e2",
        "name": "",
        "label": "",
        "order": 6,
        "width": "1",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "minus",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "256376a924474adf",
        "type": "ui-text",
        "z": "981fcccea4aa6cd3",
        "g": "33c938d6423969a7",
        "group": "e7bc4036e18081e2",
        "order": 7,
        "width": "1",
        "height": "1",
        "name": "text",
        "label": "100",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 610,
        "y": 1160,
        "wires": []
    },
    {
        "id": "977d11b921fcd1ab",
        "type": "ui-button",
        "z": "981fcccea4aa6cd3",
        "g": "33c938d6423969a7",
        "group": "e7bc4036e18081e2",
        "name": "",
        "label": "",
        "order": 8,
        "width": "1",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "plus",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "6fcfbd3718966cc5",
        "type": "ui-button",
        "z": "981fcccea4aa6cd3",
        "g": "da259b2c4e6e3578",
        "group": "37db4ac7dd925282",
        "name": "button",
        "label": "Cancel changes",
        "order": 0,
        "width": "2",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "e287895877f1a53c",
        "type": "ui-button",
        "z": "981fcccea4aa6cd3",
        "g": "da259b2c4e6e3578",
        "group": "37db4ac7dd925282",
        "name": "button",
        "label": "Switch to map",
        "order": 0,
        "width": "2",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "145a816e57898c7f",
        "type": "ui-button",
        "z": "981fcccea4aa6cd3",
        "g": "da259b2c4e6e3578",
        "group": "37db4ac7dd925282",
        "name": "button",
        "label": "Confirm changes",
        "order": 0,
        "width": "2",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "section-four-button-right",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "a216d7b242ae1c11",
        "type": "link in",
        "z": "981fcccea4aa6cd3",
        "g": "cb3409a9c0969265",
        "name": "link in 5",
        "links": [
            "f1688594df89190d"
        ],
        "x": 525,
        "y": 160,
        "wires": [
            [
                "f25e848644692981"
            ]
        ]
    },
    {
        "id": "14ec7f6db647b1ea",
        "type": "link in",
        "z": "981fcccea4aa6cd3",
        "g": "cb3409a9c0969265",
        "name": "link in 6",
        "links": [
            "f1688594df89190d"
        ],
        "x": 525,
        "y": 200,
        "wires": [
            [
                "99dd39f5bbec7746"
            ]
        ]
    },
    {
        "id": "200adbd137d1bb48",
        "type": "link in",
        "z": "981fcccea4aa6cd3",
        "g": "cb3409a9c0969265",
        "name": "link in 7",
        "links": [
            "f1688594df89190d"
        ],
        "x": 525,
        "y": 240,
        "wires": [
            [
                "16a4c7cd1d7e8533"
            ]
        ]
    },
    {
        "id": "af6f20dca4623118",
        "type": "link in",
        "z": "981fcccea4aa6cd3",
        "g": "cb3409a9c0969265",
        "name": "link in 8",
        "links": [
            "f1688594df89190d"
        ],
        "x": 525,
        "y": 280,
        "wires": [
            [
                "70f610f6b44b688f"
            ]
        ]
    },
    {
        "id": "0f7cd6bef1fabbae",
        "type": "link in",
        "z": "981fcccea4aa6cd3",
        "g": "cb3409a9c0969265",
        "name": "link in 9",
        "links": [
            "f1688594df89190d"
        ],
        "x": 525,
        "y": 320,
        "wires": [
            [
                "fedc36d5e5a1233b"
            ]
        ]
    },
    {
        "id": "d1978bb3ebd07df5",
        "type": "link in",
        "z": "981fcccea4aa6cd3",
        "g": "cb3409a9c0969265",
        "name": "link in 10",
        "links": [
            "f1688594df89190d"
        ],
        "x": 525,
        "y": 360,
        "wires": [
            [
                "ce0b97fbe12096d4"
            ]
        ]
    },
    {
        "id": "e2bd9ff70c986f83",
        "type": "link in",
        "z": "981fcccea4aa6cd3",
        "g": "cb3409a9c0969265",
        "name": "link in 11",
        "links": [
            "f1688594df89190d"
        ],
        "x": 525,
        "y": 400,
        "wires": [
            [
                "4874dff54f36d7c5"
            ]
        ]
    },
    {
        "id": "c8c4b479eda45fd6",
        "type": "link in",
        "z": "981fcccea4aa6cd3",
        "g": "cb3409a9c0969265",
        "name": "link in 12",
        "links": [
            "f1688594df89190d"
        ],
        "x": 525,
        "y": 440,
        "wires": [
            [
                "ea111f01cf618fcc"
            ]
        ]
    },
    {
        "id": "6d96f609b6fe014e",
        "type": "link in",
        "z": "981fcccea4aa6cd3",
        "g": "cb3409a9c0969265",
        "name": "link in 13",
        "links": [
            "f1688594df89190d"
        ],
        "x": 525,
        "y": 480,
        "wires": [
            [
                "dfa130d77e0f7593"
            ]
        ]
    },
    {
        "id": "ace29899b948e3ac",
        "type": "inject",
        "z": "981fcccea4aa6cd3",
        "name": "hard placeholder",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "placeholder",
        "payloadType": "str",
        "x": 190,
        "y": 40,
        "wires": [
            [
                "f1688594df89190d"
            ]
        ]
    },
    {
        "id": "f1688594df89190d",
        "type": "link out",
        "z": "981fcccea4aa6cd3",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "0f7cd6bef1fabbae",
            "14ec7f6db647b1ea",
            "200adbd137d1bb48",
            "6d96f609b6fe014e",
            "a216d7b242ae1c11",
            "af6f20dca4623118",
            "c8c4b479eda45fd6",
            "d1978bb3ebd07df5",
            "e2bd9ff70c986f83",
            "56be1c1433d47087",
            "20117488794ba954",
            "218c0062b645c48b",
            "0c0c9e99761af7a4",
            "c6d84d4329f124c6"
        ],
        "x": 325,
        "y": 40,
        "wires": []
    },
    {
        "id": "56be1c1433d47087",
        "type": "link in",
        "z": "981fcccea4aa6cd3",
        "g": "b698ee124c6364a8",
        "name": "link in 14",
        "links": [
            "f1688594df89190d"
        ],
        "x": 525,
        "y": 660,
        "wires": [
            [
                "c5c38b219eae9cb1"
            ]
        ]
    },
    {
        "id": "20117488794ba954",
        "type": "link in",
        "z": "981fcccea4aa6cd3",
        "g": "b698ee124c6364a8",
        "name": "link in 15",
        "links": [
            "f1688594df89190d"
        ],
        "x": 525,
        "y": 700,
        "wires": [
            [
                "4d9f66a9d7ff2fb3"
            ]
        ]
    },
    {
        "id": "218c0062b645c48b",
        "type": "link in",
        "z": "981fcccea4aa6cd3",
        "g": "b698ee124c6364a8",
        "name": "link in 16",
        "links": [
            "f1688594df89190d"
        ],
        "x": 525,
        "y": 780,
        "wires": [
            [
                "e96f71ebfe63a096"
            ]
        ]
    },
    {
        "id": "0c0c9e99761af7a4",
        "type": "link in",
        "z": "981fcccea4aa6cd3",
        "g": "b698ee124c6364a8",
        "name": "link in 17",
        "links": [
            "f1688594df89190d"
        ],
        "x": 525,
        "y": 740,
        "wires": [
            [
                "5ce0f6f785b673d5"
            ]
        ]
    },
    {
        "id": "c3200c17efce8790",
        "type": "ui-template",
        "z": "856e96fc4678e0ab",
        "group": "",
        "page": "3720bdc972d93bca",
        "ui": "",
        "name": "Custom CSS",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "",
        "x": 610,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "23ad5da3e2cba669",
        "type": "ui-button",
        "z": "856e96fc4678e0ab",
        "g": "90e4b408c6998f71",
        "group": "2a664c8b638bbad5",
        "name": "",
        "label": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "preview-chevron",
        "icon": "chevron-up",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 870,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "ccac4bc3157e9909",
        "type": "ui-text-input",
        "z": "856e96fc4678e0ab",
        "g": "90e4b408c6998f71",
        "group": "2a664c8b638bbad5",
        "name": "",
        "label": "text",
        "order": 0,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 870,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "eec271879f59041a",
        "type": "ui-text-input",
        "z": "856e96fc4678e0ab",
        "g": "90e4b408c6998f71",
        "group": "2a664c8b638bbad5",
        "name": "",
        "label": "text",
        "order": 0,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 870,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "a265553dae3d4f6f",
        "type": "ui-button",
        "z": "856e96fc4678e0ab",
        "g": "90e4b408c6998f71",
        "group": "2a664c8b638bbad5",
        "name": "",
        "label": "button",
        "order": 0,
        "width": "2",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "minus",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 810,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "138e5fa64dc3fdbc",
        "type": "ui-button",
        "z": "856e96fc4678e0ab",
        "g": "90e4b408c6998f71",
        "group": "2a664c8b638bbad5",
        "name": "",
        "label": "button",
        "order": 0,
        "width": "2",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "plus",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 930,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "b358b79901f11352",
        "type": "ui-button",
        "z": "856e96fc4678e0ab",
        "g": "90e4b408c6998f71",
        "group": "2a664c8b638bbad5",
        "name": "",
        "label": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "setting-icon",
        "icon": "eye-outline",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 870,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "3774989fb468f88f",
        "type": "ui-button",
        "z": "856e96fc4678e0ab",
        "g": "90e4b408c6998f71",
        "group": "2a664c8b638bbad5",
        "name": "",
        "label": "button",
        "order": 0,
        "width": "2",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "minus",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 810,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "3aaa1a0b628e30af",
        "type": "ui-button",
        "z": "856e96fc4678e0ab",
        "g": "90e4b408c6998f71",
        "group": "2a664c8b638bbad5",
        "name": "",
        "label": "button",
        "order": 0,
        "width": "2",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "plus",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 930,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "c4b57da3bf2d860d",
        "type": "ui-button",
        "z": "856e96fc4678e0ab",
        "g": "90e4b408c6998f71",
        "group": "2a664c8b638bbad5",
        "name": "",
        "label": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "chevron-down",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 870,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "ee309fa792d75397",
        "type": "ui-template",
        "z": "b4a53df95ffe5a7e",
        "group": "",
        "page": "156c087dabd0538c",
        "ui": "",
        "name": "Custom CSS",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "",
        "x": 610,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "d4fd99fb7b088d55",
        "type": "ui-button",
        "z": "b4a53df95ffe5a7e",
        "group": "8c7099c47f2f84ee",
        "name": "button",
        "label": "Show group 2",
        "order": 0,
        "width": "0",
        "height": "0",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 300,
        "wires": [
            [
                "d2c4b2bd3bf7a824"
            ]
        ]
    },
    {
        "id": "36e77e3496925fe2",
        "type": "ui-button",
        "z": "b4a53df95ffe5a7e",
        "group": "343127516357e339",
        "name": "button",
        "label": "Show group 1",
        "order": 0,
        "width": "0",
        "height": "0",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 340,
        "wires": [
            [
                "313e7d26d0dd01b4"
            ]
        ]
    },
    {
        "id": "c3d0984f4757d8c8",
        "type": "ui-text",
        "z": "b4a53df95ffe5a7e",
        "group": "8c7099c47f2f84ee",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "text",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 270,
        "y": 400,
        "wires": []
    },
    {
        "id": "0d8e265f57710ffc",
        "type": "ui-text",
        "z": "b4a53df95ffe5a7e",
        "group": "343127516357e339",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "text",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 270,
        "y": 460,
        "wires": []
    },
    {
        "id": "9eb7b7e2a8fcfd2f",
        "type": "inject",
        "z": "b4a53df95ffe5a7e",
        "name": "Value text 1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Ceci est le groupe 1",
        "payloadType": "str",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "53ebb7c7a827d65c"
            ]
        ]
    },
    {
        "id": "5639e2b8614a30e6",
        "type": "link in",
        "z": "b4a53df95ffe5a7e",
        "name": "link in 1",
        "links": [
            "53ebb7c7a827d65c"
        ],
        "x": 185,
        "y": 400,
        "wires": [
            [
                "c3d0984f4757d8c8"
            ]
        ]
    },
    {
        "id": "53ebb7c7a827d65c",
        "type": "link out",
        "z": "b4a53df95ffe5a7e",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "5639e2b8614a30e6"
        ],
        "x": 215,
        "y": 40,
        "wires": []
    },
    {
        "id": "5fe221c6b1bfe17f",
        "type": "link in",
        "z": "b4a53df95ffe5a7e",
        "name": "link in 2",
        "links": [
            "26ce9d48c5f1c269"
        ],
        "x": 185,
        "y": 460,
        "wires": [
            [
                "0d8e265f57710ffc"
            ]
        ]
    },
    {
        "id": "8b14e52309709f67",
        "type": "ui-control",
        "z": "b4a53df95ffe5a7e",
        "name": "",
        "ui": "1eeac55ba6b9065f",
        "events": "all",
        "x": 900,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "d2c4b2bd3bf7a824",
        "type": "change",
        "z": "b4a53df95ffe5a7e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Group 1\"], \"show\": [\"Group 2\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 300,
        "wires": [
            [
                "90df16c7261274d3"
            ]
        ]
    },
    {
        "id": "313e7d26d0dd01b4",
        "type": "change",
        "z": "b4a53df95ffe5a7e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Group 1\"], \"hide\": [\"Group 2\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 340,
        "wires": [
            [
                "90df16c7261274d3"
            ]
        ]
    },
    {
        "id": "26ce9d48c5f1c269",
        "type": "link out",
        "z": "b4a53df95ffe5a7e",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "5fe221c6b1bfe17f"
        ],
        "x": 215,
        "y": 80,
        "wires": []
    },
    {
        "id": "0e9e4cabc256ba76",
        "type": "inject",
        "z": "b4a53df95ffe5a7e",
        "name": "Value text 2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Ceci est le groupe 2",
        "payloadType": "str",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "26ce9d48c5f1c269"
            ]
        ]
    },
    {
        "id": "4a0c9059b0a260df",
        "type": "ui-control",
        "z": "b4a53df95ffe5a7e",
        "name": "",
        "ui": "1eeac55ba6b9065f",
        "events": "all",
        "x": 900,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "1f88e44dc61a7c1d",
        "type": "link in",
        "z": "b4a53df95ffe5a7e",
        "name": "link in 3",
        "links": [
            "90df16c7261274d3"
        ],
        "x": 805,
        "y": 300,
        "wires": [
            [
                "8b14e52309709f67"
            ]
        ]
    },
    {
        "id": "90df16c7261274d3",
        "type": "link out",
        "z": "b4a53df95ffe5a7e",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "1f88e44dc61a7c1d",
            "77970bbf0f1edb5b"
        ],
        "x": 585,
        "y": 300,
        "wires": []
    },
    {
        "id": "6dc17a37bdeddc95",
        "type": "change",
        "z": "b4a53df95ffe5a7e",
        "name": "Reload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"page\":\"\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 340,
        "wires": [
            [
                "4a0c9059b0a260df"
            ]
        ]
    },
    {
        "id": "77970bbf0f1edb5b",
        "type": "link in",
        "z": "b4a53df95ffe5a7e",
        "name": "link in 4",
        "links": [
            "90df16c7261274d3"
        ],
        "x": 665,
        "y": 340,
        "wires": [
            [
                "6dc17a37bdeddc95"
            ]
        ]
    },
    {
        "id": "ce5d86d4a63be561",
        "type": "ui-control",
        "z": "b4a53df95ffe5a7e",
        "name": "",
        "ui": "1eeac55ba6b9065f",
        "events": "all",
        "x": 340,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "de905b4ce98ae857",
        "type": "inject",
        "z": "b4a53df95ffe5a7e",
        "name": "Initial state groupe",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"group\":{\"hide\":[\"Group 2\"], \"show\": [\"Group 1\"]}}",
        "payloadType": "json",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "ce5d86d4a63be561"
            ]
        ]
    },
    {
        "id": "7b3155e3e8f122ab",
        "type": "ui-template",
        "z": "b7320d7a8092d013",
        "group": "",
        "page": "b59606fb98c818ca",
        "ui": "",
        "name": "Custom CSS",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "",
        "x": 610,
        "y": 40,
        "wires": [
            []
        ]
    }
]