flows.json
[
    {
        "id": "54343cf33bf0a216",
        "type": "tab",
        "label": "Global",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a707f17e5367291d",
        "type": "tab",
        "label": "Page Home",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "981fcccea4aa6cd3",
        "type": "tab",
        "label": "Page Sample",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "856e96fc4678e0ab",
        "type": "tab",
        "label": "Page Preview",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b4a53df95ffe5a7e",
        "type": "tab",
        "label": "Page Acquisition",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b7320d7a8092d013",
        "type": "tab",
        "label": "Page Segmentation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9e50b5b27cc27750",
        "type": "group",
        "z": "a707f17e5367291d",
        "name": "Second line",
        "style": {
            "label": true
        },
        "nodes": [
            "8d830e194c4c638c",
            "fdf53b09d89c279d",
            "34dbd3041722720a",
            "075a15808a098657",
            "958e97d91b7af70f",
            "1d8323910805aad9",
            "e7fb51cac66d4d53"
        ],
        "x": 74,
        "y": 539,
        "w": 692,
        "h": 202
    },
    {
        "id": "f4342ba54d87c333",
        "type": "group",
        "z": "a707f17e5367291d",
        "name": "Third line",
        "style": {
            "label": true
        },
        "nodes": [
            "b1e36b2718644cab",
            "f366a87b6ae313da",
            "0dc415ec85c54eaf",
            "1da8f6bad390834c",
            "c70fcb3a379e78b2",
            "107b489639a008f0",
            "d80807f8f8f08a43"
        ],
        "x": 74,
        "y": 759,
        "w": 672,
        "h": 202
    },
    {
        "id": "527d5d50cd394426",
        "type": "group",
        "z": "a707f17e5367291d",
        "name": "Top",
        "style": {
            "label": true
        },
        "nodes": [
            "323bd09eef621b97",
            "0fbc2b8ebb65e449",
            "cc0d72fac71f394d",
            "8031f131ae7c416c"
        ],
        "x": 534,
        "y": 79,
        "w": 402,
        "h": 122
    },
    {
        "id": "332ccbf2ae090d80",
        "type": "group",
        "z": "a707f17e5367291d",
        "name": "First line",
        "style": {
            "label": true
        },
        "nodes": [
            "723e895a8f1cda7f",
            "aa381230d4defcd0",
            "b05631dc409a09e2",
            "127bf74d5d7eab6b",
            "6bc8c275a77643bf",
            "7df6c5b3dd81f3d3",
            "8a142d5df39bb034",
            "9512f26042fce871",
            "e33ffe5425144df6",
            "6f565fc38299fa2a",
            "b4e7ea1a2671a24b",
            "8f7050414b8d9323",
            "2f072d8a53688b53",
            "7645e99011d73972",
            "b9514c9c8ddcbb62"
        ],
        "x": 294,
        "y": 219,
        "w": 642,
        "h": 302
    },
    {
        "id": "90e4b408c6998f71",
        "type": "group",
        "z": "856e96fc4678e0ab",
        "name": "Settings",
        "style": {
            "label": true
        },
        "nodes": [
            "23ad5da3e2cba669",
            "ccac4bc3157e9909",
            "eec271879f59041a",
            "a265553dae3d4f6f",
            "138e5fa64dc3fdbc",
            "b358b79901f11352",
            "3774989fb468f88f",
            "3aaa1a0b628e30af",
            "c4b57da3bf2d860d"
        ],
        "x": 734,
        "y": 179,
        "w": 272,
        "h": 322
    },
    {
        "id": "5a0c5f993457e27b",
        "type": "group",
        "z": "b4a53df95ffe5a7e",
        "name": "Section one",
        "style": {
            "label": true
        },
        "nodes": [
            "e290e26a128bc8d7",
            "87b37603c68f4546",
            "2c620b07e6b33e96",
            "140678b970959538",
            "a19e946860461bbd",
            "99243c07bf2ed94f",
            "ac3eeb992dd94baf",
            "b75fc087e03c7ba1",
            "b57c34652ca6dc20"
        ],
        "x": 534,
        "y": 219,
        "w": 402,
        "h": 162
    },
    {
        "id": "5cac8180c2b74f8d",
        "type": "group",
        "z": "b4a53df95ffe5a7e",
        "name": "Section two metadata",
        "style": {
            "label": true
        },
        "nodes": [
            "937b876f599672be"
        ],
        "x": 534,
        "y": 399,
        "w": 152,
        "h": 82
    },
    {
        "id": "f67d766b7a57ac8e",
        "type": "group",
        "z": "b4a53df95ffe5a7e",
        "name": "Section two preview",
        "style": {
            "label": true
        },
        "nodes": [
            "84a1a01663459f10"
        ],
        "x": 534,
        "y": 499,
        "w": 152,
        "h": 82
    },
    {
        "id": "8a21a76acd370149",
        "type": "group",
        "z": "b4a53df95ffe5a7e",
        "name": "Section two settings",
        "style": {
            "label": true
        },
        "nodes": [
            "5e7b38a402f83ac4"
        ],
        "x": 534,
        "y": 599,
        "w": 152,
        "h": 82
    },
    {
        "id": "d2c9101ed2ec362a",
        "type": "group",
        "z": "b4a53df95ffe5a7e",
        "name": "Section three",
        "style": {
            "label": true
        },
        "nodes": [
            "cb65df693a17dfe4"
        ],
        "x": 534,
        "y": 699,
        "w": 152,
        "h": 82
    },
    {
        "id": "adbf2350e2df0ee2",
        "type": "group",
        "z": "981fcccea4aa6cd3",
        "name": "Section bouton 3",
        "style": {
            "label": true
        },
        "nodes": [
            "efb49e3720df4f6d",
            "02a8618305ef81fb",
            "aa0c3c84fed6a9a9",
            "502129c38ddf8198",
            "125e784f6d4792e3",
            "15d56e040a7613ef",
            "2b65d7c5796237b2",
            "2d807fb6695930c2",
            "72978948e1c4018a",
            "d2ccc69925ea1062",
            "d8f7c295113a9193",
            "17b426522e8a26e8",
            "d9b1d674f8d02f84",
            "fa6efd27c2cae95d"
        ],
        "x": 514,
        "y": 2139,
        "w": 272,
        "h": 622
    },
    {
        "id": "97c213bdacc78737",
        "type": "group",
        "z": "981fcccea4aa6cd3",
        "name": "Section bouton 1",
        "style": {
            "label": true
        },
        "nodes": [
            "ead8d63b1f127f17",
            "b4e9c8a5779f0f26",
            "6f0237b3132c58c9",
            "126e6e0e955da1b4",
            "47a5e1b4757d0805",
            "97d33131818ddc29",
            "fec6ed07bd47c30f",
            "425c59ada598d55d",
            "cdd3fedc02055976",
            "95d446f698cd96df",
            "8c444c94aeb724ae",
            "d0229f1f355ac27b",
            "6a6fa2a6db3757c1"
        ],
        "x": 514,
        "y": 719,
        "w": 232,
        "h": 582
    },
    {
        "id": "4f5f1f069ed4f6e2",
        "type": "group",
        "z": "981fcccea4aa6cd3",
        "name": "Section global",
        "style": {
            "label": true
        },
        "nodes": [
            "f562df42f5a4b75e",
            "0169d773ecfbbbcc",
            "f49db7b930892fd8",
            "993103c3c34b3156",
            "735dd79ab910351c",
            "795e86d9be7c58d6",
            "3948a37ec1b8c803"
        ],
        "x": 514,
        "y": 119,
        "w": 272,
        "h": 322
    },
    {
        "id": "f1ed5ca80185892b",
        "type": "group",
        "z": "981fcccea4aa6cd3",
        "name": "Section preset",
        "style": {
            "label": true
        },
        "nodes": [
            "756698c99ceee2c8",
            "49275fc2c8a90339",
            "624dbdfc580f320d",
            "ea586a296790564c",
            "1fc584727e7a50d0",
            "45f51b11651ef1b7",
            "b156d7b379fd5166",
            "b5df891429cc0f13",
            "8f1385d8c3aaee84",
            "bc7487ac5d0886ba",
            "c3626f3aa764bd03",
            "ba9e2b8ab8b10f00"
        ],
        "x": 514,
        "y": 459,
        "w": 622,
        "h": 242
    },
    {
        "id": "c4b509fbaccac842",
        "type": "group",
        "z": "981fcccea4aa6cd3",
        "name": "Section bouton 2",
        "style": {
            "label": true
        },
        "nodes": [
            "9a609df7529298d8",
            "ef6aea27efcf872a",
            "bd3b30728cdce18b",
            "03506d264b8dc351",
            "08e4f811c66098ce",
            "7d76a23ff246e288",
            "8c47d33528fc74bc",
            "31b4f418e9b95a6e",
            "fce629a76a43c949",
            "1557a78603a005b1",
            "a6f1a04555ed8ca5",
            "5aece39579178eb8",
            "728b32486424cc9b",
            "2fc56bf948e3fc7d",
            "ef399131c3d32fea",
            "ece1189d50558a6c",
            "a438fbc83e0e72be",
            "4105a842792147d2"
        ],
        "x": 514,
        "y": 1319,
        "w": 272,
        "h": 802
    },
    {
        "id": "ca1a2f7bcebcd1b0",
        "type": "group",
        "z": "981fcccea4aa6cd3",
        "name": "Navigation",
        "style": {
            "label": true
        },
        "nodes": [
            "0b76724133f50bfc",
            "74679c26e1f8d3b5"
        ],
        "x": 514,
        "y": 2779,
        "w": 222,
        "h": 82
    },
    {
        "id": "1f5b7433d4de7aae",
        "type": "group",
        "z": "856e96fc4678e0ab",
        "name": "Navigation",
        "style": {
            "label": true
        },
        "nodes": [
            "a1746c9a0c82ab71",
            "4c954a4151e90460"
        ],
        "x": 514,
        "y": 659,
        "w": 222,
        "h": 82
    },
    {
        "id": "2be6ad508d7c21f1",
        "type": "group",
        "z": "b4a53df95ffe5a7e",
        "name": "Navigation",
        "style": {
            "label": true
        },
        "nodes": [
            "1e8ed47df6773a62",
            "b918e3464255b05e"
        ],
        "x": 534,
        "y": 799,
        "w": 222,
        "h": 82
    },
    {
        "id": "b0c7b296d7ae8bc5",
        "type": "group",
        "z": "a707f17e5367291d",
        "name": "Fourth line",
        "style": {
            "label": true
        },
        "nodes": [
            "30e107bae928c06e",
            "44eb5b49b8b424a0",
            "967f57a653bbd135",
            "9b648872ae81aab5"
        ],
        "x": 274,
        "y": 979,
        "w": 412,
        "h": 142
    },
    {
        "id": "d3b760ff4a5cd1e4",
        "type": "group",
        "z": "b7320d7a8092d013",
        "name": "Navigation",
        "style": {
            "label": true
        },
        "nodes": [
            "17a470bf9e9b2b78",
            "c7f94f75479b696d"
        ],
        "x": 554,
        "y": 419,
        "w": 222,
        "h": 82
    },
    {
        "id": "1eeac55ba6b9065f",
        "type": "ui-base",
        "name": "PlanktoScope Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "icon"
    },
    {
        "id": "43f40797e7f6bb4b",
        "type": "ui-page",
        "name": "Home",
        "ui": "1eeac55ba6b9065f",
        "path": "/home",
        "icon": "home",
        "layout": "grid",
        "theme": "c0ea559892f9bd33",
        "order": 1,
        "className": "home-page",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "0174b387db7315f9",
        "type": "ui-group",
        "name": "Top",
        "page": "43f40797e7f6bb4b",
        "width": "12",
        "height": "1",
        "order": 1,
        "showTitle": false,
        "className": "top-home",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "c0ea559892f9bd33",
        "type": "ui-theme",
        "name": "FairsSope Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#000000",
            "bgPage": "#ffffff",
            "groupBg": "#ffffff",
            "groupOutline": "#ffffff"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "0px",
            "groupBorderRadius": "4px",
            "widgetGap": "0px"
        }
    },
    {
        "id": "5aee203b5c149352",
        "type": "ui-group",
        "name": "Section-2",
        "page": "43f40797e7f6bb4b",
        "width": "12",
        "height": "1",
        "order": 3,
        "showTitle": false,
        "className": "section-2",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "18c4119d20b245af",
        "type": "ui-group",
        "name": "Section-1",
        "page": "43f40797e7f6bb4b",
        "width": "12",
        "height": "1",
        "order": 2,
        "showTitle": false,
        "className": "section-1",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "a3b1938e41297818",
        "type": "ui-group",
        "name": "Section-3",
        "page": "43f40797e7f6bb4b",
        "width": "12",
        "height": "1",
        "order": 4,
        "showTitle": false,
        "className": "section-3",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "e7f37ce9c08266be",
        "type": "ui-page",
        "name": "Sample",
        "ui": "1eeac55ba6b9065f",
        "path": "/sample",
        "icon": "file",
        "layout": "grid",
        "theme": "c0ea559892f9bd33",
        "order": 2,
        "className": "sample-page",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "3720bdc972d93bca",
        "type": "ui-page",
        "name": "Preview",
        "ui": "1eeac55ba6b9065f",
        "path": "/preview",
        "icon": "eye-outline",
        "layout": "grid",
        "theme": "c0ea559892f9bd33",
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "156c087dabd0538c",
        "type": "ui-page",
        "name": "Acquisition",
        "ui": "1eeac55ba6b9065f",
        "path": "/acquisition",
        "icon": "camera",
        "layout": "grid",
        "theme": "c0ea559892f9bd33",
        "order": 4,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "b59606fb98c818ca",
        "type": "ui-page",
        "name": "Segmentation",
        "ui": "1eeac55ba6b9065f",
        "path": "/segmentation",
        "icon": "puzzle",
        "layout": "grid",
        "theme": "c0ea559892f9bd33",
        "order": 5,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "bad72850424336e4",
        "type": "ui-group",
        "name": "Section-preset",
        "page": "e7f37ce9c08266be",
        "width": "12",
        "height": "1",
        "order": 3,
        "showTitle": false,
        "className": "section-preset",
        "visible": true,
        "disabled": "false"
    },
    {
        "id": "2a664c8b638bbad5",
        "type": "ui-group",
        "d": true,
        "name": "Settings",
        "page": "3720bdc972d93bca",
        "width": "4",
        "height": "7",
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "f0c03d9da6035e34",
        "type": "ui-group",
        "d": true,
        "name": "Preview",
        "page": "3720bdc972d93bca",
        "width": "8",
        "height": "9",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "7975e05d421a32ba",
        "type": "ui-group",
        "d": true,
        "name": "Section-One",
        "page": "156c087dabd0538c",
        "width": "12",
        "height": "1",
        "order": -1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ad54e60c77c4781a",
        "type": "ui-group",
        "d": true,
        "name": "Section-Two-Preview",
        "page": "156c087dabd0538c",
        "width": "9",
        "height": "1",
        "order": -1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "3e3c8912469a2819",
        "type": "ui-group",
        "d": true,
        "name": "Section-Two-Settings",
        "page": "156c087dabd0538c",
        "width": "9",
        "height": "1",
        "order": -1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "55e0129ecef67edc",
        "type": "ui-group",
        "d": true,
        "name": "Section-Two-Metadata",
        "page": "156c087dabd0538c",
        "width": "9",
        "height": "1",
        "order": -1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "37538d2c695e139b",
        "type": "ui-group",
        "d": true,
        "name": "Section-Three",
        "page": "156c087dabd0538c",
        "width": "3",
        "height": "1",
        "order": -1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "48024fe939a23893",
        "type": "ui-group",
        "name": "Section-global",
        "page": "e7f37ce9c08266be",
        "width": "12",
        "height": "1",
        "order": 2,
        "showTitle": false,
        "className": "section-global",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ed66a2d109aa792e",
        "type": "ui-group",
        "name": "Section-bouton-4",
        "page": "e7f37ce9c08266be",
        "width": "12",
        "height": "1",
        "order": 16,
        "showTitle": false,
        "className": "section-bouton-4",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "bb7ac3a5f1da594e",
        "type": "ui-group",
        "name": "Section-bouton-3",
        "page": "e7f37ce9c08266be",
        "width": "8",
        "height": "1",
        "order": 14,
        "showTitle": false,
        "className": "section-bouton-3",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "21984aa69938bf88",
        "type": "ui-group",
        "name": "Section-bouton-1",
        "page": "e7f37ce9c08266be",
        "width": "12",
        "height": "1",
        "order": 5,
        "showTitle": false,
        "className": "section-bouton-1",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "01a287087d24199d",
        "type": "ui-group",
        "name": "Section-global-title",
        "page": "e7f37ce9c08266be",
        "width": "3",
        "height": "1",
        "order": 1,
        "showTitle": false,
        "className": "section-global-title",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "84824637436cb7fb",
        "type": "ui-group",
        "name": "Section-bouton-2",
        "page": "e7f37ce9c08266be",
        "width": "12",
        "height": "1",
        "order": 9,
        "showTitle": false,
        "className": "section-bouton-2",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "06db5d6897cf91d8",
        "type": "ui-group",
        "name": "Section-bouton-1-title",
        "page": "e7f37ce9c08266be",
        "width": "12",
        "height": "1",
        "order": 4,
        "showTitle": false,
        "className": "section-bouton-1-title",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "adf5a6b0c32b20f0",
        "type": "ui-group",
        "name": "Section-bouton-1-2-title",
        "page": "e7f37ce9c08266be",
        "width": "12",
        "height": "1",
        "order": 6,
        "showTitle": false,
        "className": "section-bouton-1-2-title",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "3a7277d2d5e66a34",
        "type": "ui-group",
        "name": "Section-bouton-1-2",
        "page": "e7f37ce9c08266be",
        "width": "12",
        "height": "1",
        "order": 7,
        "showTitle": false,
        "className": "section-bouton-1-2",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "3ab8a80c05b53e0c",
        "type": "ui-group",
        "name": "Section-bouton-2-title",
        "page": "e7f37ce9c08266be",
        "width": "12",
        "height": "1",
        "order": 8,
        "showTitle": false,
        "className": "section-bouton-2-title",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "332b02cefa57a63d",
        "type": "ui-group",
        "name": "Section-bouton-2-1-title",
        "page": "e7f37ce9c08266be",
        "width": "12",
        "height": "1",
        "order": 10,
        "showTitle": false,
        "className": "section-bouton-2-1-title",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ce6d4145d73e4379",
        "type": "ui-group",
        "name": "Section-bouton-2-1",
        "page": "e7f37ce9c08266be",
        "width": "12",
        "height": "1",
        "order": 12,
        "showTitle": false,
        "className": "section-bouton-2-1",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "a29880480a93f7a3",
        "type": "ui-group",
        "name": "Section-bouton-2-1-coord",
        "page": "e7f37ce9c08266be",
        "width": "8",
        "height": "1",
        "order": 11,
        "showTitle": false,
        "className": "section-bouton-2-1-coord",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "69a2d6fcf772d1d0",
        "type": "ui-group",
        "name": "Section-bouton-3-title",
        "page": "e7f37ce9c08266be",
        "width": "12",
        "height": "1",
        "order": 13,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "e70e8efdc77b18cb",
        "type": "ui-group",
        "name": "Section-bouton-3-1",
        "page": "e7f37ce9c08266be",
        "width": "12",
        "height": "1",
        "order": 15,
        "showTitle": false,
        "className": "section-bouton-3-1",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "eb21a8a88e7c9ea4",
        "type": "ui-group",
        "name": "Section-navigation",
        "page": "e7f37ce9c08266be",
        "width": "12",
        "height": "1",
        "order": 17,
        "showTitle": false,
        "className": "section-navigation",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "4e7e4bba9c5a1a15",
        "type": "ui-group",
        "name": "Section-navigation",
        "page": "3720bdc972d93bca",
        "width": "12",
        "height": "1",
        "order": 3,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "c29beff51c3024f3",
        "type": "ui-group",
        "name": "Section-navigation",
        "page": "156c087dabd0538c",
        "width": "12",
        "height": "1",
        "order": -1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "6a8950a61be1197f",
        "type": "ui-group",
        "name": "Section-4",
        "page": "43f40797e7f6bb4b",
        "width": "12",
        "height": "1",
        "order": 5,
        "showTitle": false,
        "className": "section-4",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "edd7517fed16d256",
        "type": "ui-group",
        "name": "Section-global",
        "page": "b59606fb98c818ca",
        "width": "12",
        "height": "1",
        "order": -1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "db628ba400a981fc",
        "type": "ui-template",
        "z": "54343cf33bf0a216",
        "group": "",
        "page": "",
        "ui": "1eeac55ba6b9065f",
        "name": "Custom CSS - All pages",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "/* Global CSS - All pages */\n\ni.mdi-menu.mdi.v-icon.notranslate.v-theme--nrdb.v-icon--size-default {\n    color: #0a6eca;\n}\n\n.v-navigation-drawer {\n    border: 0px solid transparent;\n    /* color: #000000;\n    background-color: transparent !important; */\n    color: #0a6eca;\n    background-color: white !important;\n    /* background-color: #0a6dca !important; */\n}\n\n.elevation-1 {\n    box-shadow: 0 0px 0px 0px !important;\n}\n\n.v-toolbar {\n    background-color: #ffffff !important;\n    /* background-color: #0a6dca !important; */\n}\n\n.v-toolbar-title__placeholder {\n    /* color: #000000 !important; */\n    color: #0a6eca !important;\n    font-weight: bold;\n}\n\ntemplate {\n    background-color: white !important;\n}",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "site:style",
        "className": "",
        "x": 630,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "8d830e194c4c638c",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "9e50b5b27cc27750",
        "group": "5aee203b5c149352",
        "order": 1,
        "width": "4",
        "height": "1",
        "name": "Software version",
        "label": "Software version",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "information-text",
        "x": 650,
        "y": 580,
        "wires": []
    },
    {
        "id": "fdf53b09d89c279d",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "9e50b5b27cc27750",
        "group": "5aee203b5c149352",
        "order": 2,
        "width": "4",
        "height": "1",
        "name": "Instrument type",
        "label": "Instrument type",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "information-text",
        "x": 640,
        "y": 640,
        "wires": []
    },
    {
        "id": "34dbd3041722720a",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "9e50b5b27cc27750",
        "group": "5aee203b5c149352",
        "order": 3,
        "width": "4",
        "height": "1",
        "name": "Instrument name",
        "label": "Instrument name",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "information-text",
        "x": 650,
        "y": 700,
        "wires": []
    },
    {
        "id": "b1e36b2718644cab",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "f4342ba54d87c333",
        "group": "a3b1938e41297818",
        "order": 1,
        "width": "4",
        "height": "1",
        "name": "Image taken",
        "label": "Image taken",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "information-text",
        "x": 630,
        "y": 800,
        "wires": []
    },
    {
        "id": "f366a87b6ae313da",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "f4342ba54d87c333",
        "group": "a3b1938e41297818",
        "order": 2,
        "width": "4",
        "height": "1",
        "name": "Time used",
        "label": "Time used",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "information-text",
        "x": 630,
        "y": 860,
        "wires": []
    },
    {
        "id": "0dc415ec85c54eaf",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "f4342ba54d87c333",
        "group": "a3b1938e41297818",
        "order": 3,
        "width": "4",
        "height": "1",
        "name": "Sample taken",
        "label": "Sample taken",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "information-text",
        "x": 640,
        "y": 920,
        "wires": []
    },
    {
        "id": "e22e55f93548ed69",
        "type": "ui-template",
        "z": "a707f17e5367291d",
        "group": "",
        "page": "43f40797e7f6bb4b",
        "ui": "",
        "name": "Custom CSS",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "/* Custom CSS - Home page */\n\n.section-1 {\n    padding: 0rem 20rem;\n}\n\n.section-2 {\n    padding: 0rem 16rem;\n}\n\n.section-3 {\n    padding: 0rem 16rem;\n}\n\n.section-4 {\n    padding: 0rem 28rem;\n}\n\n\n/* .styled-button-visual */\n\n.styled-button-visual .v-btn .v-icon {\n    height: 0px !important;\n    --v-icon-size-multiplier: 3;\n    color: #0a6eca;\n}\n\n.styled-button-visual .v-btn {\n    background-color:rgba(255, 0, 0, 0);\n    padding: 2.5em 2.5em;\n}\n\n.styled-button .v-btn {\n    background-color: #076eac;\n}\n\n\n/* .button-label */\n\n.button-label span.nrdb-ui-text-value {\n    color: #17426a;\n    font-weight: bold;\n    font-size: 14px;\n    margin-bottom: 10%;\n}\n\n/* .styled-button */\n\n.styled-button .v-btn .v-icon {\n    height: 0px !important;\n    --v-icon-size-multiplier: 3;\n}\n\n.styled-button .v-btn {\n    padding: 3.5em 3.5em;\n}\n\n/* .title-top */\n\n.title-top {\n    margin-bottom: 25px;\n}\n\n/* .top-button */\n\n.top-button {\n    justify-content: center;\n    width: 100%;\n}\n\n.top-button .v-btn {\n    border-radius: 10px;\n    background-color: #17426a;\n}\n\n.top-button .v-btn * {\n    font-size: xx-large;\n    padding: 0.5em 2em;\n}\n\n/* .information-text */\n\n.information-text label {\n    text-align: center;\n    background-color: #ffffff;\n    padding: 1% 12%;\n    min-width: 30%;\n    border-color: #0a6eca !important;\n    /* border-radius: 10px; */\n    border-bottom: 3px solid #0a6eca;\n    color: #0a6eca;\n    font-weight: bold;\n    margin-bottom: 0.5rem;\n}\n\n.information-text span.nrdb-ui-text-value {\n    color: #000000;\n    font-size: 14px;\n    margin-bottom: 11%;\n}\n\n/* .top-home */\n\n.top-home {\n    margin-bottom: 2rem;\n    background-color: transparent !important;\n}",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "",
        "x": 610,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "075a15808a098657",
        "type": "inject",
        "z": "a707f17e5367291d",
        "g": "9e50b5b27cc27750",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"software-version\":\"v2024.0.0-aplha.0\",\"instrument-type\":\"PlanktoScope v2.6\",\"instrument-name\":\"complete-wind-49753\"}",
        "payloadType": "json",
        "x": 180,
        "y": 640,
        "wires": [
            [
                "958e97d91b7af70f",
                "1d8323910805aad9",
                "e7fb51cac66d4d53"
            ]
        ]
    },
    {
        "id": "958e97d91b7af70f",
        "type": "function",
        "z": "a707f17e5367291d",
        "g": "9e50b5b27cc27750",
        "name": "function 1",
        "func": "var value = msg.payload[\"software-version\"];\n\nmsg.payload = value\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 580,
        "wires": [
            [
                "8d830e194c4c638c"
            ]
        ]
    },
    {
        "id": "1d8323910805aad9",
        "type": "function",
        "z": "a707f17e5367291d",
        "g": "9e50b5b27cc27750",
        "name": "function 2",
        "func": "var value = msg.payload[\"instrument-type\"];\n\nmsg.payload = value\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 640,
        "wires": [
            [
                "fdf53b09d89c279d"
            ]
        ]
    },
    {
        "id": "e7fb51cac66d4d53",
        "type": "function",
        "z": "a707f17e5367291d",
        "g": "9e50b5b27cc27750",
        "name": "function 3",
        "func": "var value = msg.payload[\"instrument-name\"];\n\nmsg.payload = value\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 700,
        "wires": [
            [
                "34dbd3041722720a"
            ]
        ]
    },
    {
        "id": "d80807f8f8f08a43",
        "type": "inject",
        "z": "a707f17e5367291d",
        "g": "f4342ba54d87c333",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"image-taken\":\"34.587.624\",\"time-used\":\"256h\",\"sample-taken\":\"10.000\"}",
        "payloadType": "json",
        "x": 180,
        "y": 860,
        "wires": [
            [
                "1da8f6bad390834c",
                "c70fcb3a379e78b2",
                "107b489639a008f0"
            ]
        ]
    },
    {
        "id": "1da8f6bad390834c",
        "type": "function",
        "z": "a707f17e5367291d",
        "g": "f4342ba54d87c333",
        "name": "function 4",
        "func": "var value = msg.payload[\"image-taken\"];\n\nmsg.payload = value\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 800,
        "wires": [
            [
                "b1e36b2718644cab"
            ]
        ]
    },
    {
        "id": "c70fcb3a379e78b2",
        "type": "function",
        "z": "a707f17e5367291d",
        "g": "f4342ba54d87c333",
        "name": "function 5",
        "func": "var value = msg.payload[\"time-used\"];\n\nmsg.payload = value\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 860,
        "wires": [
            [
                "f366a87b6ae313da"
            ]
        ]
    },
    {
        "id": "107b489639a008f0",
        "type": "function",
        "z": "a707f17e5367291d",
        "g": "f4342ba54d87c333",
        "name": "function 6",
        "func": "var value = msg.payload[\"sample-taken\"];\n\nmsg.payload = value\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 920,
        "wires": [
            [
                "0dc415ec85c54eaf"
            ]
        ]
    },
    {
        "id": "323bd09eef621b97",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "527d5d50cd394426",
        "group": "0174b387db7315f9",
        "order": 0,
        "width": "12",
        "height": "1",
        "name": "Title",
        "label": "PlanktoScope",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": true,
        "font": "Palatino Linotype,Palatino,Book Antiqua,serif",
        "fontSize": "74",
        "color": "#076eac",
        "className": "title-top",
        "x": 610,
        "y": 120,
        "wires": []
    },
    {
        "id": "0fbc2b8ebb65e449",
        "type": "ui-button",
        "z": "a707f17e5367291d",
        "g": "527d5d50cd394426",
        "group": "0174b387db7315f9",
        "name": "button",
        "label": "Run a sample",
        "order": 0,
        "width": "0",
        "height": "0",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "top-button",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 160,
        "wires": [
            [
                "cc0d72fac71f394d"
            ]
        ]
    },
    {
        "id": "723e895a8f1cda7f",
        "type": "ui-button",
        "z": "a707f17e5367291d",
        "g": "332ccbf2ae090d80",
        "group": "18c4119d20b245af",
        "name": "button",
        "label": "",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "styled-button",
        "icon": "file-find-outline",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 260,
        "wires": [
            [
                "9512f26042fce871"
            ]
        ]
    },
    {
        "id": "aa381230d4defcd0",
        "type": "ui-button",
        "z": "a707f17e5367291d",
        "g": "332ccbf2ae090d80",
        "group": "18c4119d20b245af",
        "name": "button",
        "label": "",
        "order": 2,
        "width": "4",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "styled-button",
        "icon": "wifi-cog",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 300,
        "wires": [
            [
                "8a142d5df39bb034"
            ]
        ]
    },
    {
        "id": "b05631dc409a09e2",
        "type": "ui-button",
        "z": "a707f17e5367291d",
        "g": "332ccbf2ae090d80",
        "group": "18c4119d20b245af",
        "name": "button",
        "label": "",
        "order": 3,
        "width": "4",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "styled-button",
        "icon": "comment-quote",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 340,
        "wires": [
            [
                "e33ffe5425144df6"
            ]
        ]
    },
    {
        "id": "127bf74d5d7eab6b",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "332ccbf2ae090d80",
        "group": "18c4119d20b245af",
        "order": 4,
        "width": "4",
        "height": "1",
        "name": "Documentation",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "button-label",
        "x": 640,
        "y": 440,
        "wires": []
    },
    {
        "id": "6bc8c275a77643bf",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "332ccbf2ae090d80",
        "group": "18c4119d20b245af",
        "order": 5,
        "width": "4",
        "height": "1",
        "name": "Connectivity",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "button-label",
        "x": 630,
        "y": 400,
        "wires": []
    },
    {
        "id": "7df6c5b3dd81f3d3",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "332ccbf2ae090d80",
        "group": "18c4119d20b245af",
        "order": 6,
        "width": "4",
        "height": "1",
        "name": "Feedback",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "button-label",
        "x": 620,
        "y": 480,
        "wires": []
    },
    {
        "id": "7645e99011d73972",
        "type": "inject",
        "z": "a707f17e5367291d",
        "g": "332ccbf2ae090d80",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Documentation",
        "payloadType": "str",
        "x": 420,
        "y": 440,
        "wires": [
            [
                "127bf74d5d7eab6b"
            ]
        ]
    },
    {
        "id": "2f072d8a53688b53",
        "type": "inject",
        "z": "a707f17e5367291d",
        "g": "332ccbf2ae090d80",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Connectivity",
        "payloadType": "str",
        "x": 410,
        "y": 400,
        "wires": [
            [
                "6bc8c275a77643bf"
            ]
        ]
    },
    {
        "id": "b9514c9c8ddcbb62",
        "type": "inject",
        "z": "a707f17e5367291d",
        "g": "332ccbf2ae090d80",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Feedback",
        "payloadType": "str",
        "x": 400,
        "y": 480,
        "wires": [
            [
                "7df6c5b3dd81f3d3"
            ]
        ]
    },
    {
        "id": "30e107bae928c06e",
        "type": "inject",
        "z": "a707f17e5367291d",
        "g": "b0c7b296d7ae8bc5",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Connected",
        "payloadType": "str",
        "x": 390,
        "y": 1020,
        "wires": [
            [
                "44eb5b49b8b424a0"
            ]
        ]
    },
    {
        "id": "44eb5b49b8b424a0",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "b0c7b296d7ae8bc5",
        "group": "6a8950a61be1197f",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "text",
        "label": "Connection status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "information-text",
        "x": 610,
        "y": 1020,
        "wires": []
    },
    {
        "id": "967f57a653bbd135",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "b0c7b296d7ae8bc5",
        "group": "6a8950a61be1197f",
        "order": 2,
        "width": "6",
        "height": "1",
        "name": "text",
        "label": "Storage remaining",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "information-text",
        "x": 610,
        "y": 1080,
        "wires": []
    },
    {
        "id": "9b648872ae81aab5",
        "type": "inject",
        "z": "a707f17e5367291d",
        "g": "b0c7b296d7ae8bc5",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "250 Go",
        "payloadType": "str",
        "x": 380,
        "y": 1080,
        "wires": [
            [
                "967f57a653bbd135"
            ]
        ]
    },
    {
        "id": "cc0d72fac71f394d",
        "type": "change",
        "z": "a707f17e5367291d",
        "g": "527d5d50cd394426",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"page\":\"Sample\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 160,
        "wires": [
            [
                "8031f131ae7c416c"
            ]
        ]
    },
    {
        "id": "9512f26042fce871",
        "type": "change",
        "z": "a707f17e5367291d",
        "g": "332ccbf2ae090d80",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"page\":\"Documentation\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 260,
        "wires": [
            [
                "8f7050414b8d9323"
            ]
        ]
    },
    {
        "id": "8a142d5df39bb034",
        "type": "change",
        "z": "a707f17e5367291d",
        "g": "332ccbf2ae090d80",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"page\":\"Connectivity\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 300,
        "wires": [
            [
                "b4e7ea1a2671a24b"
            ]
        ]
    },
    {
        "id": "e33ffe5425144df6",
        "type": "change",
        "z": "a707f17e5367291d",
        "g": "332ccbf2ae090d80",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"page\":\"Feedback\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 340,
        "wires": [
            [
                "6f565fc38299fa2a"
            ]
        ]
    },
    {
        "id": "0007fbbf1742c6e8",
        "type": "ui-control",
        "z": "a707f17e5367291d",
        "name": "",
        "ui": "1eeac55ba6b9065f",
        "events": "all",
        "x": 180,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "2cc4d8075a852a14",
        "type": "link in",
        "z": "a707f17e5367291d",
        "name": "link in 26",
        "links": [
            "8031f131ae7c416c",
            "8f7050414b8d9323",
            "b4e7ea1a2671a24b",
            "6f565fc38299fa2a"
        ],
        "x": 75,
        "y": 40,
        "wires": [
            [
                "0007fbbf1742c6e8"
            ]
        ]
    },
    {
        "id": "8031f131ae7c416c",
        "type": "link out",
        "z": "a707f17e5367291d",
        "g": "527d5d50cd394426",
        "name": "link out 12",
        "mode": "link",
        "links": [
            "2cc4d8075a852a14"
        ],
        "x": 895,
        "y": 160,
        "wires": []
    },
    {
        "id": "6f565fc38299fa2a",
        "type": "link out",
        "z": "a707f17e5367291d",
        "g": "332ccbf2ae090d80",
        "name": "link out 13",
        "mode": "link",
        "links": [
            "2cc4d8075a852a14"
        ],
        "x": 895,
        "y": 340,
        "wires": []
    },
    {
        "id": "b4e7ea1a2671a24b",
        "type": "link out",
        "z": "a707f17e5367291d",
        "g": "332ccbf2ae090d80",
        "name": "link out 14",
        "mode": "link",
        "links": [
            "2cc4d8075a852a14"
        ],
        "x": 895,
        "y": 300,
        "wires": []
    },
    {
        "id": "8f7050414b8d9323",
        "type": "link out",
        "z": "a707f17e5367291d",
        "g": "332ccbf2ae090d80",
        "name": "link out 15",
        "mode": "link",
        "links": [
            "2cc4d8075a852a14"
        ],
        "x": 895,
        "y": 260,
        "wires": []
    },
    {
        "id": "759b2907628ee6e4",
        "type": "ui-template",
        "z": "981fcccea4aa6cd3",
        "group": "",
        "page": "e7f37ce9c08266be",
        "ui": "",
        "name": "Custom CSS",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "/* Custom CSS - Sample page */\n\n.coord-value div.nrdb-ui-text.nrdb-ui-text--col-center {\n    display: block;\n}\n\n.coord-value {\n    max-width: 1% !important;\n    margin: 0%;\n    padding: 0%;\n}\n\n.sample-page {\n    margin-right: 5rem;\n    margin-left: 5rem;\n}\n\n.section-global-title div.v-card-text {\n    padding: 0% !important;\n}\n\n.section-bouton-1-title div.v-card-text {\n    padding: 0% !important;\n}\n\n.section-bouton-1-2-title div.v-card-text {\n    padding: 0% !important;\n}\n\n.section-bouton-1 div.nrdb-layout-group--grid {\n    grid-gap: 10px !important;\n}\n\n.section-bouton-1-2 div.nrdb-layout-group--grid {\n    grid-gap: 10px !important;\n}\n\n.section-bouton-2-title div.v-card-text {\n    padding: 0% !important;\n}\n\n.section-bouton-2 div.nrdb-layout-group--grid {\n    grid-gap: 10px !important;\n}\n\n.section-bouton-2-1-title div.v-card-text {\n    padding: 0% !important;\n}\n\n.section-bouton-2-1 div.nrdb-layout-group--grid {\n    grid-gap: 10px !important;\n}\n\n.section-bouton-2-1-coord div.nrdb-layout-group--grid {\n    grid-gap: 10px !important;\n}\n\n.section-bouton-3 div.nrdb-layout-group--grid {\n    grid-gap: 10px !important;\n}\n\n.section-bouton-3-1 div.nrdb-layout-group--grid {\n    grid-gap: 10px !important;\n} \n\n.section-bouton-4 div.nrdb-layout-group--grid {\n    grid-gap: 10px !important;\n}\n\n.section-global div.nrdb-layout-group--grid {\n    grid-gap: 10px !important;\n}\n\n.section-global div.nrdb-layout-group--grid {\n    margin-bottom: 1rem;\n}\n\n.section-preset .v-card-text {\n    padding: 0% 1rem !important;\n}\n\n.information-text label {\n    text-align: center;\n    background-color: #ffffff;\n    padding: 2% 12% 2% 12%;\n    min-width: 60%;\n    border-radius: 10px;\n    border-color: #0a6eca !important;\n    border-bottom: 3px solid #0a6eca;\n    color: #0a6eca;\n    font-weight: bold;\n}\n\n.information-text-2 label {\n    text-align: center;\n    background-color: #ffffff;\n    padding: 2% 12% 2% 12%;\n    min-width: 10%;\n    border-radius: 10px;\n    border-bottom: 3px solid #0a6eca;\n    color: #0a6eca;\n    font-weight: bold;\n}\n\n.section-navigation:first-child {\n    display: flex;\n    background-color: #0a6eca;\n}",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "",
        "x": 610,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "ace29899b948e3ac",
        "type": "inject",
        "z": "981fcccea4aa6cd3",
        "name": "hard placeholder",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "placeholder",
        "payloadType": "str",
        "x": 190,
        "y": 40,
        "wires": [
            [
                "f1688594df89190d"
            ]
        ]
    },
    {
        "id": "f1688594df89190d",
        "type": "link out",
        "z": "981fcccea4aa6cd3",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "0f7cd6bef1fabbae",
            "14ec7f6db647b1ea",
            "200adbd137d1bb48",
            "6d96f609b6fe014e",
            "a216d7b242ae1c11",
            "af6f20dca4623118",
            "c8c4b479eda45fd6",
            "d1978bb3ebd07df5",
            "e2bd9ff70c986f83",
            "56be1c1433d47087",
            "20117488794ba954",
            "218c0062b645c48b",
            "0c0c9e99761af7a4",
            "c6d84d4329f124c6"
        ],
        "x": 315,
        "y": 40,
        "wires": []
    },
    {
        "id": "8651f72f38174fc4",
        "type": "ui-control",
        "z": "981fcccea4aa6cd3",
        "name": "",
        "ui": "1eeac55ba6b9065f",
        "events": "all",
        "x": 380,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "2e134859fc51a8e2",
        "type": "inject",
        "z": "981fcccea4aa6cd3",
        "name": "Initial group state",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"group\":{\"hide\":[\"Section-bouton-1\",\"Section-bouton-1-title\",\"Section-bouton-1-2\",\"Section-bouton-1-2-title\",\"Section-bouton-2\",\"Section-bouton-2-title\",\"Section-bouton-2-1-title\",\"Section-bouton-2-1\",\"Section-bouton-2-1-coord\",\"Section-bouton-3\",\"Section-bouton-3-title\",\"Section-bouton-3-1\",\"Section-bouton-4\"],\"show\":[\"Section-bouton-5\",\"Section-global\",\"Section-preset\"]}}",
        "payloadType": "json",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "b657585b8e15beaa"
            ]
        ]
    },
    {
        "id": "b657585b8e15beaa",
        "type": "link out",
        "z": "981fcccea4aa6cd3",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "d4f15128bec6629d"
        ],
        "x": 315,
        "y": 80,
        "wires": []
    },
    {
        "id": "d4f15128bec6629d",
        "type": "link in",
        "z": "981fcccea4aa6cd3",
        "name": "link in 20",
        "links": [
            "b657585b8e15beaa",
            "bc7487ac5d0886ba",
            "8f1385d8c3aaee84",
            "b5df891429cc0f13",
            "b156d7b379fd5166",
            "ba9e2b8ab8b10f00",
            "74679c26e1f8d3b5"
        ],
        "x": 115,
        "y": 140,
        "wires": [
            [
                "8651f72f38174fc4"
            ]
        ]
    },
    {
        "id": "101e5f329322e2ef",
        "type": "change",
        "z": "981fcccea4aa6cd3",
        "name": "Reload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"page\": \"\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 180,
        "wires": [
            [
                "8651f72f38174fc4"
            ]
        ]
    },
    {
        "id": "ae6efe138e099d69",
        "type": "link in",
        "z": "981fcccea4aa6cd3",
        "name": "link in 19",
        "links": [
            "4694d602eb145576",
            "32a0d9a5b9f97de8",
            "b156d7b379fd5166",
            "b5df891429cc0f13",
            "8f1385d8c3aaee84",
            "bc7487ac5d0886ba",
            "ba9e2b8ab8b10f00"
        ],
        "x": 115,
        "y": 180,
        "wires": [
            [
                "101e5f329322e2ef"
            ]
        ]
    },
    {
        "id": "756698c99ceee2c8",
        "type": "ui-template",
        "z": "981fcccea4aa6cd3",
        "g": "f1ed5ca80185892b",
        "group": "bad72850424336e4",
        "page": "",
        "ui": "",
        "name": "",
        "order": 0,
        "width": "12",
        "height": "1",
        "head": "",
        "format": "<template>\n    <div class=\"button-container\">\n        <div class=\"button-wrapper\">\n            <v-btn :class=\"{ 'square-button': true, 'clicked': buttonStates[1] }\" @click=\"buttonClicked(1)\">\n                <div class=\"icon-wrapper\">\n                    <i class=\"mdi mdi-water\"></i>\n                    <p>Net (horizontal)</p>\n                </div>\n            </v-btn>\n        </div>\n        <div class=\"button-wrapper\">\n            <v-btn :class=\"{ 'square-button': true, 'clicked': buttonStates[2] }\" @click=\"buttonClicked(2)\">\n                <div class=\"icon-wrapper\">\n                    <i class=\"mdi mdi-water\"></i>\n                    <p>Net (vertical)</p>\n                </div>\n            </v-btn>\n        </div>\n        <div class=\"button-wrapper\">\n            <v-btn :class=\"{ 'square-button': true, 'clicked': buttonStates[3] }\" @click=\"buttonClicked(3)\">\n                <div class=\"icon-wrapper\">\n                    <i class=\"mdi mdi-water\"></i>\n                    <p>Niskin bottle</p>\n                </div>\n            </v-btn>\n        </div>\n        <div class=\"button-wrapper\">\n            <v-btn :class=\"{ 'square-button': true, 'clicked': buttonStates[4] }\" @click=\"buttonClicked(4)\">\n                <div class=\"icon-wrapper\">\n                    <i class=\"mdi mdi-water\"></i>\n                    <p>Lab culture</p>\n                </div>\n            </v-btn>\n        </div>\n        <div class=\"button-wrapper\">\n            <v-btn :class=\"{ 'square-button': true, 'clicked': buttonStates[5] }\" @click=\"buttonClicked(5)\">\n                <div class=\"icon-wrapper\">\n                    <i class=\"mdi mdi-water\"></i>\n                    <p>Test</p>\n                </div>\n            </v-btn>\n        </div>\n    </div>\n</template>\n\n<script>\n    export default {\n        data() {\n            return {\n                buttonStates: {\n                    1: false,\n                    2: false,\n                    3: false,\n                    4: false,\n                    5: false\n                }\n            }\n        },\n        methods: {\n            buttonClicked: function (buttonNumber) {\n                for (let key in this.buttonStates) {\n                    this.buttonStates[key] = false;\n                }\n                this.buttonStates[buttonNumber] = true;\n                this.send({ payload: `Button ${buttonNumber} clicked` });\n            }\n        }\n    }\n</script>\n\n<style>\n    .button-container {\n        display: flex;\n        justify-content: center;\n        align-items: center;\n    }\n\n    .button-wrapper {\n        margin: 10px;\n        text-align: center;\n    }\n\n    .square-button {\n        width: 140px;\n        height: 140px;\n        border-radius: 10px;\n        background-color: #0a6eca;\n        padding: 20px;\n    }\n\n    .square-button.clicked {\n        background-color: #4CAF50;\n    }\n\n    .icon-wrapper {\n        display: flex;\n        flex-direction: column;\n        justify-content: center;\n        align-items: center;\n    }\n\n    .icon-wrapper i {\n        font-size: 40px;\n        color: white;\n        margin-bottom: 10px;\n    }\n\n    .icon-wrapper p {\n        margin: 0;\n        color: white;\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 580,
        "wires": [
            [
                "49275fc2c8a90339"
            ]
        ]
    },
    {
        "id": "49275fc2c8a90339",
        "type": "switch",
        "z": "981fcccea4aa6cd3",
        "g": "f1ed5ca80185892b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Button 1 clicked",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Button 2 clicked",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Button 3 clicked",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Button 4 clicked",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Button 5 clicked",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 760,
        "y": 580,
        "wires": [
            [
                "624dbdfc580f320d"
            ],
            [
                "ea586a296790564c"
            ],
            [
                "1fc584727e7a50d0"
            ],
            [
                "45f51b11651ef1b7"
            ],
            [
                "c3626f3aa764bd03"
            ]
        ]
    },
    {
        "id": "624dbdfc580f320d",
        "type": "change",
        "z": "981fcccea4aa6cd3",
        "g": "f1ed5ca80185892b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Section-bouton-2\",\"Section-bouton-2-title\",\"Section-bouton-2-1\",\"Section-bouton-2-1-title\",\"Section-bouton-2-1-coord\",\"Section-bouton-3\",\"Section-bouton-3-title\",\"Section-bouton-3-1\",\"Section-bouton-4\",\"Section-bouton-5\"],\"show\":[\"Section-bouton-1\",\"Section-bouton-1-title\",\"Section-bouton-1-2\",\"Section-bouton-1-2-title\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 500,
        "wires": [
            [
                "b156d7b379fd5166"
            ]
        ]
    },
    {
        "id": "ea586a296790564c",
        "type": "change",
        "z": "981fcccea4aa6cd3",
        "g": "f1ed5ca80185892b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Section-bouton-1\",\"Section-bouton-1-title\",\"Section-bouton-1-2\",\"Section-bouton-1-2-title\",\"Section-bouton-3\",\"Section-bouton-3-title\",\"Section-bouton-3-1\",\"Section-bouton-4\",\"Section-bouton-5\"],\"show\":[\"Section-bouton-2\",\"Section-bouton-2-title\",\"Section-bouton-2-1\",\"Section-bouton-2-1-title\",\"Section-bouton-2-1-coord\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 540,
        "wires": [
            [
                "b5df891429cc0f13"
            ]
        ]
    },
    {
        "id": "1fc584727e7a50d0",
        "type": "change",
        "z": "981fcccea4aa6cd3",
        "g": "f1ed5ca80185892b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Section-bouton-1\",\"Section-bouton-1-title\",\"Section-bouton-1-2\",\"Section-bouton-1-2-title\",\"Section-bouton-2\",\"Section-bouton-2-title\",\"Section-bouton-2-1\",\"Section-bouton-2-1-title\",\"Section-bouton-2-1-coord\",\"Section-bouton-4\",\"Section-bouton-5\"],\"show\":[\"Section-bouton-3\",\"Section-bouton-3-title\",\"Section-bouton-3-1\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 580,
        "wires": [
            [
                "8f1385d8c3aaee84"
            ]
        ]
    },
    {
        "id": "45f51b11651ef1b7",
        "type": "change",
        "z": "981fcccea4aa6cd3",
        "g": "f1ed5ca80185892b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Section-bouton-2\",\"Section-bouton-2-title\",\"Section-bouton-2-1\",\"Section-bouton-2-1-title\",\"Section-bouton-2-1-coord\",\"Section-bouton-3\",\"Section-bouton-3-title\",\"Section-bouton-3-1\",\"Section-bouton-1\",\"Section-bouton-1-title\",\"Section-bouton-1-2\",\"Section-bouton-1-2-title\",\"Section-bouton-5\"],\"show\":[\"Section-bouton-4\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 620,
        "wires": [
            [
                "bc7487ac5d0886ba"
            ]
        ]
    },
    {
        "id": "b156d7b379fd5166",
        "type": "link out",
        "z": "981fcccea4aa6cd3",
        "g": "f1ed5ca80185892b",
        "name": "link out 16",
        "mode": "link",
        "links": [
            "d4f15128bec6629d",
            "ae6efe138e099d69"
        ],
        "x": 1095,
        "y": 500,
        "wires": []
    },
    {
        "id": "b5df891429cc0f13",
        "type": "link out",
        "z": "981fcccea4aa6cd3",
        "g": "f1ed5ca80185892b",
        "name": "link out 17",
        "mode": "link",
        "links": [
            "d4f15128bec6629d",
            "ae6efe138e099d69"
        ],
        "x": 1095,
        "y": 540,
        "wires": []
    },
    {
        "id": "8f1385d8c3aaee84",
        "type": "link out",
        "z": "981fcccea4aa6cd3",
        "g": "f1ed5ca80185892b",
        "name": "link out 18",
        "mode": "link",
        "links": [
            "d4f15128bec6629d",
            "ae6efe138e099d69"
        ],
        "x": 1095,
        "y": 580,
        "wires": []
    },
    {
        "id": "bc7487ac5d0886ba",
        "type": "link out",
        "z": "981fcccea4aa6cd3",
        "g": "f1ed5ca80185892b",
        "name": "link out 19",
        "mode": "link",
        "links": [
            "d4f15128bec6629d",
            "ae6efe138e099d69"
        ],
        "x": 1095,
        "y": 620,
        "wires": []
    },
    {
        "id": "c3626f3aa764bd03",
        "type": "change",
        "z": "981fcccea4aa6cd3",
        "g": "f1ed5ca80185892b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Section-bouton-2\",\"Section-bouton-2-title\",\"Section-bouton-2-1\",\"Section-bouton-2-1-title\",\"Section-bouton-2-1-coord\",\"Section-bouton-3\",\"Section-bouton-3-title\",\"Section-bouton-3-1\",\"Section-bouton-1\",\"Section-bouton-1-title\",\"Section-bouton-1-2\",\"Section-bouton-1-2-title\",\"Section-bouton-4\"],\"show\":[\"Section-bouton-5\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 660,
        "wires": [
            [
                "ba9e2b8ab8b10f00"
            ]
        ]
    },
    {
        "id": "ba9e2b8ab8b10f00",
        "type": "link out",
        "z": "981fcccea4aa6cd3",
        "g": "f1ed5ca80185892b",
        "name": "link out 20",
        "mode": "link",
        "links": [
            "d4f15128bec6629d",
            "ae6efe138e099d69"
        ],
        "x": 1095,
        "y": 660,
        "wires": []
    },
    {
        "id": "efb49e3720df4f6d",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "adbf2350e2df0ee2",
        "group": "e70e8efdc77b18cb",
        "name": "Bottle volume",
        "label": "Bottle volume",
        "order": 11,
        "width": "4",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "number",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 620,
        "y": 2720,
        "wires": [
            []
        ]
    },
    {
        "id": "02a8618305ef81fb",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "adbf2350e2df0ee2",
        "group": "e70e8efdc77b18cb",
        "name": "Sampling depth",
        "label": "Sampling depth",
        "order": 12,
        "width": "4",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "number",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 620,
        "y": 2680,
        "wires": [
            []
        ]
    },
    {
        "id": "aa0c3c84fed6a9a9",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "adbf2350e2df0ee2",
        "group": "e70e8efdc77b18cb",
        "name": "Sampling volume",
        "label": "Sampling volume",
        "order": 13,
        "width": "4",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 630,
        "y": 2640,
        "wires": [
            []
        ]
    },
    {
        "id": "502129c38ddf8198",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "adbf2350e2df0ee2",
        "group": "bb7ac3a5f1da594e",
        "name": "Latitude (eg: 45.7656)",
        "label": "Latitude (eg: 45.7656)",
        "order": 10,
        "width": "4",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "number",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 640,
        "y": 2540,
        "wires": [
            []
        ]
    },
    {
        "id": "ead8d63b1f127f17",
        "type": "ui-text",
        "z": "981fcccea4aa6cd3",
        "g": "97c213bdacc78737",
        "group": "adf5a6b0c32b20f0",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "Starting point",
        "label": "Starting point",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "information-text-2",
        "x": 610,
        "y": 900,
        "wires": []
    },
    {
        "id": "b4e9c8a5779f0f26",
        "type": "ui-text",
        "z": "981fcccea4aa6cd3",
        "g": "97c213bdacc78737",
        "group": "adf5a6b0c32b20f0",
        "order": 4,
        "width": "6",
        "height": "1",
        "name": "Ending point",
        "label": "Ending point",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "information-text-2",
        "x": 610,
        "y": 940,
        "wires": []
    },
    {
        "id": "d0229f1f355ac27b",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "97c213bdacc78737",
        "group": "21984aa69938bf88",
        "name": "Mesh size (m)",
        "label": "Mesh size (in microns)",
        "order": 2,
        "width": "4",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "number",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 620,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "6a6fa2a6db3757c1",
        "type": "ui-text",
        "z": "981fcccea4aa6cd3",
        "g": "97c213bdacc78737",
        "group": "06db5d6897cf91d8",
        "order": 1,
        "width": "2",
        "height": "1",
        "name": "Net specificity",
        "label": "Net specificity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "information-text",
        "x": 620,
        "y": 760,
        "wires": []
    },
    {
        "id": "6f0237b3132c58c9",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "97c213bdacc78737",
        "group": "3a7277d2d5e66a34",
        "name": "text",
        "label": "text",
        "order": 2,
        "width": "6",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 590,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "126e6e0e955da1b4",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "97c213bdacc78737",
        "group": "3a7277d2d5e66a34",
        "name": "",
        "label": "text",
        "order": 1,
        "width": "6",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 590,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "8c444c94aeb724ae",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "97c213bdacc78737",
        "group": "21984aa69938bf88",
        "name": "Net mouth opening",
        "label": "Net mouth opening",
        "order": 2,
        "width": "4",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "number",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 630,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "47a5e1b4757d0805",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "97c213bdacc78737",
        "group": "3a7277d2d5e66a34",
        "name": "",
        "label": "text",
        "order": 4,
        "width": "6",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 590,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "97d33131818ddc29",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "97c213bdacc78737",
        "group": "3a7277d2d5e66a34",
        "name": "",
        "label": "text",
        "order": 5,
        "width": "6",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 590,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "fec6ed07bd47c30f",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "97c213bdacc78737",
        "group": "3a7277d2d5e66a34",
        "name": "",
        "label": "text",
        "order": 6,
        "width": "6",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 590,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "425c59ada598d55d",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "97c213bdacc78737",
        "group": "3a7277d2d5e66a34",
        "name": "",
        "label": "text",
        "order": 3,
        "width": "6",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 590,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "cdd3fedc02055976",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "97c213bdacc78737",
        "group": "3a7277d2d5e66a34",
        "name": "",
        "label": "text",
        "order": 7,
        "width": "6",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 590,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "95d446f698cd96df",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "97c213bdacc78737",
        "group": "3a7277d2d5e66a34",
        "name": "",
        "label": "text",
        "order": 8,
        "width": "6",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 590,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "f562df42f5a4b75e",
        "type": "ui-text",
        "z": "981fcccea4aa6cd3",
        "g": "4f5f1f069ed4f6e2",
        "group": "01a287087d24199d",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "Global sample information",
        "label": "Global sample information",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "information-text",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "0169d773ecfbbbcc",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "4f5f1f069ed4f6e2",
        "group": "48024fe939a23893",
        "name": "Campagn name",
        "label": "Campagn name",
        "order": 2,
        "width": "3",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 620,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "f49db7b930892fd8",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "4f5f1f069ed4f6e2",
        "group": "48024fe939a23893",
        "name": "Project name",
        "label": "Project name",
        "order": 2,
        "width": "3",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 610,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "993103c3c34b3156",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "4f5f1f069ed4f6e2",
        "group": "48024fe939a23893",
        "name": "User",
        "label": "You",
        "order": 2,
        "width": "3",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 590,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "735dd79ab910351c",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "4f5f1f069ed4f6e2",
        "group": "48024fe939a23893",
        "name": "Station ID",
        "label": "Station ID",
        "order": 2,
        "width": "3",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "number",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 600,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "795e86d9be7c58d6",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "4f5f1f069ed4f6e2",
        "group": "48024fe939a23893",
        "name": "Sampling date",
        "label": "Sampling date",
        "order": 2,
        "width": "3",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "date",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 620,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "3948a37ec1b8c803",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "4f5f1f069ed4f6e2",
        "group": "48024fe939a23893",
        "name": "Sampling time",
        "label": "Sampling time",
        "order": 2,
        "width": "3",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "time",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 620,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "125e784f6d4792e3",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "adbf2350e2df0ee2",
        "group": "bb7ac3a5f1da594e",
        "name": "Longitude (eg: -21.5224)",
        "label": "Longitude (eg: -21.5224)",
        "order": 9,
        "width": "4",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "number",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 650,
        "y": 2580,
        "wires": [
            []
        ]
    },
    {
        "id": "9a609df7529298d8",
        "type": "ui-text",
        "z": "981fcccea4aa6cd3",
        "g": "c4b509fbaccac842",
        "group": "332b02cefa57a63d",
        "order": 3,
        "width": "2",
        "height": "1",
        "name": "Starting point",
        "label": "Starting point",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "information-text",
        "x": 610,
        "y": 1500,
        "wires": []
    },
    {
        "id": "ef6aea27efcf872a",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "c4b509fbaccac842",
        "group": "84824637436cb7fb",
        "name": "Mesh size (in microns)",
        "label": "Mesh size (in microns)",
        "order": 2,
        "width": "4",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "number",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 640,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "bd3b30728cdce18b",
        "type": "ui-text",
        "z": "981fcccea4aa6cd3",
        "g": "c4b509fbaccac842",
        "group": "3ab8a80c05b53e0c",
        "order": 1,
        "width": "2",
        "height": "1",
        "name": "Net specificity",
        "label": "Net specificity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "information-text",
        "x": 620,
        "y": 1360,
        "wires": []
    },
    {
        "id": "03506d264b8dc351",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "c4b509fbaccac842",
        "group": "ce6d4145d73e4379",
        "name": "Min depth",
        "label": "Min depth",
        "order": 12,
        "width": "3",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 600,
        "y": 1960,
        "wires": [
            []
        ]
    },
    {
        "id": "08e4f811c66098ce",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "c4b509fbaccac842",
        "group": "ce6d4145d73e4379",
        "name": "Max depth",
        "label": "Max depth",
        "order": 11,
        "width": "3",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 610,
        "y": 2000,
        "wires": [
            []
        ]
    },
    {
        "id": "7d76a23ff246e288",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "c4b509fbaccac842",
        "group": "84824637436cb7fb",
        "name": "Net mouth opening",
        "label": "Net mouth opening",
        "order": 2,
        "width": "4",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "number",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 630,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "8c47d33528fc74bc",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "c4b509fbaccac842",
        "group": "ce6d4145d73e4379",
        "name": "Filtered volume",
        "label": "Filtered volume",
        "order": 13,
        "width": "3",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 620,
        "y": 2040,
        "wires": [
            []
        ]
    },
    {
        "id": "31b4f418e9b95a6e",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "c4b509fbaccac842",
        "group": "ce6d4145d73e4379",
        "name": "Volume collected",
        "label": "Volume collected",
        "order": 14,
        "width": "3",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 630,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "fce629a76a43c949",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "c4b509fbaccac842",
        "group": "a29880480a93f7a3",
        "name": "Latitude (eg: 45.7656)",
        "label": "Latitude (eg: 45.7656)",
        "order": 9,
        "width": "4",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "number",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 640,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "1557a78603a005b1",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "c4b509fbaccac842",
        "group": "a29880480a93f7a3",
        "name": "Longitude (eg: -21.5224)",
        "label": "Longitude (eg: -21.5224)",
        "order": 10,
        "width": "4",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "number",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 650,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "a6f1a04555ed8ca5",
        "type": "ui-radio-group",
        "z": "981fcccea4aa6cd3",
        "g": "c4b509fbaccac842",
        "group": "a29880480a93f7a3",
        "name": "N-S",
        "label": "",
        "order": 1,
        "width": "1",
        "height": "1",
        "columns": "2",
        "passthru": false,
        "options": [
            {
                "label": "N",
                "value": "N",
                "type": "str"
            },
            {
                "label": "S",
                "value": "S",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 590,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "5aece39579178eb8",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "c4b509fbaccac842",
        "group": "a29880480a93f7a3",
        "name": "Degrees",
        "label": "Degrees",
        "order": 2,
        "width": "1",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "number",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 600,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "728b32486424cc9b",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "c4b509fbaccac842",
        "group": "a29880480a93f7a3",
        "name": "minutes",
        "label": "minutes",
        "order": 3,
        "width": "1",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "number",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 600,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "2fc56bf948e3fc7d",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "c4b509fbaccac842",
        "group": "a29880480a93f7a3",
        "name": "seconds",
        "label": "seconds",
        "order": 8,
        "width": "1",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "number",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 600,
        "y": 1660,
        "wires": [
            []
        ]
    },
    {
        "id": "ef399131c3d32fea",
        "type": "ui-radio-group",
        "z": "981fcccea4aa6cd3",
        "g": "c4b509fbaccac842",
        "group": "a29880480a93f7a3",
        "name": "E-W",
        "label": "",
        "order": 5,
        "width": "1",
        "height": "1",
        "columns": "2",
        "passthru": false,
        "options": [
            {
                "label": "E",
                "value": "E",
                "type": "str"
            },
            {
                "label": "W",
                "value": "W",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 590,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "ece1189d50558a6c",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "c4b509fbaccac842",
        "group": "a29880480a93f7a3",
        "name": "Degrees",
        "label": "Degrees",
        "order": 6,
        "width": "1",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "number",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 600,
        "y": 1740,
        "wires": [
            []
        ]
    },
    {
        "id": "a438fbc83e0e72be",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "c4b509fbaccac842",
        "group": "a29880480a93f7a3",
        "name": "minutes",
        "label": "minutes",
        "order": 7,
        "width": "1",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "number",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 600,
        "y": 1780,
        "wires": [
            []
        ]
    },
    {
        "id": "4105a842792147d2",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "c4b509fbaccac842",
        "group": "a29880480a93f7a3",
        "name": "seconds",
        "label": "seconds",
        "order": 4,
        "width": "1",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "number",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 600,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "15d56e040a7613ef",
        "type": "ui-radio-group",
        "z": "981fcccea4aa6cd3",
        "g": "adbf2350e2df0ee2",
        "group": "bb7ac3a5f1da594e",
        "name": "N-S",
        "label": "",
        "order": 1,
        "width": "1",
        "height": "1",
        "columns": "2",
        "passthru": false,
        "options": [
            {
                "label": "N",
                "value": "N",
                "type": "str"
            },
            {
                "label": "S",
                "value": "S",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 590,
        "y": 2220,
        "wires": [
            []
        ]
    },
    {
        "id": "2b65d7c5796237b2",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "adbf2350e2df0ee2",
        "group": "bb7ac3a5f1da594e",
        "name": "Degrees",
        "label": "Degrees",
        "order": 6,
        "width": "1",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "number",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 600,
        "y": 2260,
        "wires": [
            []
        ]
    },
    {
        "id": "2d807fb6695930c2",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "adbf2350e2df0ee2",
        "group": "bb7ac3a5f1da594e",
        "name": "minutes",
        "label": "minutes",
        "order": 7,
        "width": "1",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "number",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 600,
        "y": 2300,
        "wires": [
            []
        ]
    },
    {
        "id": "72978948e1c4018a",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "adbf2350e2df0ee2",
        "group": "bb7ac3a5f1da594e",
        "name": "seconds",
        "label": "seconds",
        "order": 4,
        "width": "1",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "number",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 600,
        "y": 2340,
        "wires": [
            []
        ]
    },
    {
        "id": "d2ccc69925ea1062",
        "type": "ui-radio-group",
        "z": "981fcccea4aa6cd3",
        "g": "adbf2350e2df0ee2",
        "group": "bb7ac3a5f1da594e",
        "name": "E-W",
        "label": "",
        "order": 5,
        "width": "1",
        "height": "1",
        "columns": "2",
        "passthru": false,
        "options": [
            {
                "label": "E",
                "value": "E",
                "type": "str"
            },
            {
                "label": "W",
                "value": "W",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 590,
        "y": 2380,
        "wires": [
            []
        ]
    },
    {
        "id": "d8f7c295113a9193",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "adbf2350e2df0ee2",
        "group": "bb7ac3a5f1da594e",
        "name": "Degrees",
        "label": "Degrees",
        "order": 2,
        "width": "1",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "number",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 600,
        "y": 2420,
        "wires": [
            []
        ]
    },
    {
        "id": "17b426522e8a26e8",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "adbf2350e2df0ee2",
        "group": "bb7ac3a5f1da594e",
        "name": "minutes",
        "label": "minutes",
        "order": 3,
        "width": "1",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "number",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 600,
        "y": 2460,
        "wires": [
            []
        ]
    },
    {
        "id": "d9b1d674f8d02f84",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "adbf2350e2df0ee2",
        "group": "bb7ac3a5f1da594e",
        "name": "seconds",
        "label": "seconds",
        "order": 8,
        "width": "1",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "number",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 600,
        "y": 2500,
        "wires": [
            []
        ]
    },
    {
        "id": "fa6efd27c2cae95d",
        "type": "ui-text",
        "z": "981fcccea4aa6cd3",
        "g": "adbf2350e2df0ee2",
        "group": "69a2d6fcf772d1d0",
        "order": 3,
        "width": "2",
        "height": "1",
        "name": "Starting point",
        "label": "Starting point",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "information-text",
        "x": 610,
        "y": 2180,
        "wires": []
    },
    {
        "id": "0b76724133f50bfc",
        "type": "ui-template",
        "z": "981fcccea4aa6cd3",
        "g": "ca1a2f7bcebcd1b0",
        "group": "eb21a8a88e7c9ea4",
        "page": "",
        "ui": "",
        "name": "",
        "order": 0,
        "width": "12",
        "height": "1",
        "head": "",
        "format": "<template>\n    <div class=\"button-block\">\n        <div class=\"button-wrap\">\n            <i class=\"mdi mdi-file\"></i>\n        </div>\n        <div class=\"button-wrap\">\n            <v-btn class=\"my-button\" @click=\"buttonClicked()\">\n                <i class=\"mdi mdi-arrow-right\"></i>\n            </v-btn>\n        </div>\n    </div>\n</template>\n\n<script>\n    export default {\n        data() {\n            return {\n                buttonStates: {\n                    1: false,\n                    2: false,\n                }\n            }\n        },\n        methods: {\n            buttonClicked: function (buttonNumber) {\n                this.send({ payload: \"+1\" });\n            }\n        }\n    }\n</script>\n\n<style>\n    .button-block {\n        display: flex;\n        justify-content: center;\n        align-items: center;\n        border: none;\n    }\n\n    .button-wrap {\n        margin: 10px;\n        text-align: center;\n        font-size: 20px;\n        border: none;\n        color: #0a6eca;\n    }\n\n    .my-button {\n        background-color: white;\n        font-size: 20px;\n        color: #0a6eca;\n        border: none;\n        box-shadow: none;\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 2820,
        "wires": [
            [
                "74679c26e1f8d3b5"
            ]
        ]
    },
    {
        "id": "74679c26e1f8d3b5",
        "type": "link out",
        "z": "981fcccea4aa6cd3",
        "g": "ca1a2f7bcebcd1b0",
        "name": "link out 21",
        "mode": "link",
        "links": [
            "d4f15128bec6629d"
        ],
        "x": 695,
        "y": 2820,
        "wires": []
    },
    {
        "id": "c3200c17efce8790",
        "type": "ui-template",
        "z": "856e96fc4678e0ab",
        "group": "",
        "page": "3720bdc972d93bca",
        "ui": "",
        "name": "Custom CSS",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "",
        "x": 610,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "23ad5da3e2cba669",
        "type": "ui-button",
        "z": "856e96fc4678e0ab",
        "g": "90e4b408c6998f71",
        "group": "2a664c8b638bbad5",
        "name": "",
        "label": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "preview-chevron",
        "icon": "chevron-up",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 870,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "ccac4bc3157e9909",
        "type": "ui-text-input",
        "z": "856e96fc4678e0ab",
        "g": "90e4b408c6998f71",
        "group": "2a664c8b638bbad5",
        "name": "",
        "label": "text",
        "order": 0,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 870,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "eec271879f59041a",
        "type": "ui-text-input",
        "z": "856e96fc4678e0ab",
        "g": "90e4b408c6998f71",
        "group": "2a664c8b638bbad5",
        "name": "",
        "label": "text",
        "order": 0,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 870,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "a265553dae3d4f6f",
        "type": "ui-button",
        "z": "856e96fc4678e0ab",
        "g": "90e4b408c6998f71",
        "group": "2a664c8b638bbad5",
        "name": "",
        "label": "button",
        "order": 0,
        "width": "2",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "minus",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 810,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "138e5fa64dc3fdbc",
        "type": "ui-button",
        "z": "856e96fc4678e0ab",
        "g": "90e4b408c6998f71",
        "group": "2a664c8b638bbad5",
        "name": "",
        "label": "button",
        "order": 0,
        "width": "2",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "plus",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 930,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "b358b79901f11352",
        "type": "ui-button",
        "z": "856e96fc4678e0ab",
        "g": "90e4b408c6998f71",
        "group": "2a664c8b638bbad5",
        "name": "",
        "label": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "setting-icon",
        "icon": "eye-outline",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 870,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "3774989fb468f88f",
        "type": "ui-button",
        "z": "856e96fc4678e0ab",
        "g": "90e4b408c6998f71",
        "group": "2a664c8b638bbad5",
        "name": "",
        "label": "button",
        "order": 0,
        "width": "2",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "minus",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 810,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "3aaa1a0b628e30af",
        "type": "ui-button",
        "z": "856e96fc4678e0ab",
        "g": "90e4b408c6998f71",
        "group": "2a664c8b638bbad5",
        "name": "",
        "label": "button",
        "order": 0,
        "width": "2",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "plus",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 930,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "c4b57da3bf2d860d",
        "type": "ui-button",
        "z": "856e96fc4678e0ab",
        "g": "90e4b408c6998f71",
        "group": "2a664c8b638bbad5",
        "name": "",
        "label": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "chevron-down",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 870,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "a1746c9a0c82ab71",
        "type": "ui-template",
        "z": "856e96fc4678e0ab",
        "g": "1f5b7433d4de7aae",
        "group": "4e7e4bba9c5a1a15",
        "page": "",
        "ui": "",
        "name": "",
        "order": 0,
        "width": "12",
        "height": "1",
        "head": "",
        "format": "<template>\n    <div class=\"button-block\">\n        <div class=\"button-wrap\">\n            <v-btn class=\"my-button\" @click=\"buttonClicked(1)\">\n                <i class=\"mdi mdi-arrow-left\"></i>\n            </v-btn>\n        </div>\n        <div class=\"button-wrap\">\n            <i class=\"mdi mdi-eye-outline\"></i>\n        </div>\n        <div class=\"button-wrap\">\n            <v-btn class=\"my-button\" @click=\"buttonClicked(2)\">\n                <i class=\"mdi mdi-arrow-right\"></i>\n            </v-btn>\n        </div>\n    </div>\n</template>\n\n<script>\n    export default {\n        data() {\n            return {\n                buttonStates: {\n                    1: false,\n                    2: false,\n                }\n            }\n        },\n        methods: {\n            buttonClicked: function (buttonNumber) {\n                if (buttonNumber == 1) {\n                    this.send({ payload: \"-1\" });\n                } else if (buttonNumber == 2) {\n                    this.send({ payload: \"+1\" });\n                }\n            }\n        }\n    }\n</script>\n\n<style>\n    .button-block {\n        display: flex;\n        justify-content: center;\n        align-items: center;\n        border: none;\n    }\n\n    .button-wrap {\n        margin: 10px;\n        text-align: center;\n        font-size: 20px;\n        border: none;\n        color: #0a6eca;\n    }\n\n    .my-button {\n        background-color: white;\n        font-size: 20px;\n        color: #0a6eca;\n        border: none;\n        box-shadow: none;\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 700,
        "wires": [
            [
                "4c954a4151e90460"
            ]
        ]
    },
    {
        "id": "4c954a4151e90460",
        "type": "link out",
        "z": "856e96fc4678e0ab",
        "g": "1f5b7433d4de7aae",
        "name": "link out 22",
        "mode": "link",
        "links": [
            "fceeacd118ec8668"
        ],
        "x": 695,
        "y": 700,
        "wires": []
    },
    {
        "id": "683cdfc52d7c0b91",
        "type": "ui-control",
        "z": "856e96fc4678e0ab",
        "name": "",
        "ui": "1eeac55ba6b9065f",
        "events": "all",
        "x": 220,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "fceeacd118ec8668",
        "type": "link in",
        "z": "856e96fc4678e0ab",
        "name": "link in 27",
        "links": [
            "4c954a4151e90460"
        ],
        "x": 95,
        "y": 40,
        "wires": [
            [
                "683cdfc52d7c0b91"
            ]
        ]
    },
    {
        "id": "ee309fa792d75397",
        "type": "ui-template",
        "z": "b4a53df95ffe5a7e",
        "group": "",
        "page": "156c087dabd0538c",
        "ui": "",
        "name": "Custom CSS",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "",
        "x": 610,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "4a0c9059b0a260df",
        "type": "ui-control",
        "z": "b4a53df95ffe5a7e",
        "name": "Call reload",
        "ui": "1eeac55ba6b9065f",
        "events": "all",
        "x": 310,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "6dc17a37bdeddc95",
        "type": "change",
        "z": "b4a53df95ffe5a7e",
        "name": "Reload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"page\":\"\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 80,
        "wires": [
            [
                "4a0c9059b0a260df"
            ]
        ]
    },
    {
        "id": "77970bbf0f1edb5b",
        "type": "link in",
        "z": "b4a53df95ffe5a7e",
        "name": "link in 4",
        "links": [
            "90df16c7261274d3",
            "d62f0fa8617af0cb",
            "ac3eeb992dd94baf",
            "b75fc087e03c7ba1",
            "b57c34652ca6dc20"
        ],
        "x": 55,
        "y": 80,
        "wires": [
            [
                "6dc17a37bdeddc95"
            ]
        ]
    },
    {
        "id": "ce5d86d4a63be561",
        "type": "ui-control",
        "z": "b4a53df95ffe5a7e",
        "name": "",
        "ui": "1eeac55ba6b9065f",
        "events": "all",
        "x": 160,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "de905b4ce98ae857",
        "type": "inject",
        "z": "b4a53df95ffe5a7e",
        "name": "Initial state groupe",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"group\":{\"hide\":[\"Section-Two-Settings\",\"Section-Two-Metadata\"],\"show\":[\"Section-Two-Preview\",\"Section-One\",\"Section-Three\"]}}",
        "payloadType": "json",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "d62f0fa8617af0cb"
            ]
        ]
    },
    {
        "id": "e290e26a128bc8d7",
        "type": "ui-button",
        "z": "b4a53df95ffe5a7e",
        "g": "5a0c5f993457e27b",
        "group": "7975e05d421a32ba",
        "name": "button",
        "label": "Preview",
        "order": 0,
        "width": "1",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 260,
        "wires": [
            [
                "140678b970959538"
            ]
        ]
    },
    {
        "id": "87b37603c68f4546",
        "type": "ui-button",
        "z": "b4a53df95ffe5a7e",
        "g": "5a0c5f993457e27b",
        "group": "7975e05d421a32ba",
        "name": "button",
        "label": "Metadata",
        "order": 0,
        "width": "1",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 300,
        "wires": [
            [
                "a19e946860461bbd"
            ]
        ]
    },
    {
        "id": "937b876f599672be",
        "type": "ui-text",
        "z": "b4a53df95ffe5a7e",
        "g": "5cac8180c2b74f8d",
        "group": "55e0129ecef67edc",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "text",
        "label": "Metadata",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 610,
        "y": 440,
        "wires": []
    },
    {
        "id": "84a1a01663459f10",
        "type": "ui-text",
        "z": "b4a53df95ffe5a7e",
        "g": "f67d766b7a57ac8e",
        "group": "ad54e60c77c4781a",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Text",
        "label": "Preview",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 610,
        "y": 540,
        "wires": []
    },
    {
        "id": "5e7b38a402f83ac4",
        "type": "ui-text",
        "z": "b4a53df95ffe5a7e",
        "g": "8a21a76acd370149",
        "group": "3e3c8912469a2819",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Text",
        "label": "Settings",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 610,
        "y": 640,
        "wires": []
    },
    {
        "id": "cb65df693a17dfe4",
        "type": "ui-text",
        "z": "b4a53df95ffe5a7e",
        "g": "d2c9101ed2ec362a",
        "group": "37538d2c695e139b",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Text",
        "label": "A droite",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 610,
        "y": 740,
        "wires": []
    },
    {
        "id": "d62f0fa8617af0cb",
        "type": "link out",
        "z": "b4a53df95ffe5a7e",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "77970bbf0f1edb5b",
            "16534dd29852c72e"
        ],
        "x": 255,
        "y": 40,
        "wires": []
    },
    {
        "id": "16534dd29852c72e",
        "type": "link in",
        "z": "b4a53df95ffe5a7e",
        "name": "link in 22",
        "links": [
            "90df16c7261274d3",
            "d62f0fa8617af0cb",
            "b918e3464255b05e",
            "ac3eeb992dd94baf",
            "b75fc087e03c7ba1",
            "b57c34652ca6dc20"
        ],
        "x": 55,
        "y": 120,
        "wires": [
            [
                "ce5d86d4a63be561"
            ]
        ]
    },
    {
        "id": "2c620b07e6b33e96",
        "type": "ui-button",
        "z": "b4a53df95ffe5a7e",
        "g": "5a0c5f993457e27b",
        "group": "7975e05d421a32ba",
        "name": "button",
        "label": "Settings",
        "order": 0,
        "width": "1",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 340,
        "wires": [
            [
                "99243c07bf2ed94f"
            ]
        ]
    },
    {
        "id": "140678b970959538",
        "type": "change",
        "z": "b4a53df95ffe5a7e",
        "g": "5a0c5f993457e27b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Section-Two-Settings\",\"Section-Two-Metadata\"],\"show\":[\"Section-Two-Preview\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 260,
        "wires": [
            [
                "ac3eeb992dd94baf"
            ]
        ]
    },
    {
        "id": "a19e946860461bbd",
        "type": "change",
        "z": "b4a53df95ffe5a7e",
        "g": "5a0c5f993457e27b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Section-Two-Preview\",\"Section-Two-Settings\"],\"show\":[\"Section-Two-Metadata\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 300,
        "wires": [
            [
                "b75fc087e03c7ba1"
            ]
        ]
    },
    {
        "id": "99243c07bf2ed94f",
        "type": "change",
        "z": "b4a53df95ffe5a7e",
        "g": "5a0c5f993457e27b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Section-Two-Preview\",\"Section-Two-Metadata\"],\"show\":[\"Section-Two-Settings\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 340,
        "wires": [
            [
                "b57c34652ca6dc20"
            ]
        ]
    },
    {
        "id": "1e8ed47df6773a62",
        "type": "ui-template",
        "z": "b4a53df95ffe5a7e",
        "g": "2be6ad508d7c21f1",
        "group": "c29beff51c3024f3",
        "page": "",
        "ui": "",
        "name": "",
        "order": 0,
        "width": "12",
        "height": "1",
        "head": "",
        "format": "<template>\n    <div class=\"button-block\">\n        <div class=\"button-wrap\">\n            <v-btn class=\"my-button\" @click=\"buttonClicked(1)\">\n                <i class=\"mdi mdi-arrow-left\"></i>\n            </v-btn>\n        </div>\n        <div class=\"button-wrap\">\n            <i class=\"mdi mdi-camera\"></i>\n        </div>\n        <div class=\"button-wrap\">\n            <v-btn class=\"my-button\" @click=\"buttonClicked(2)\">\n                <i class=\"mdi mdi-arrow-right\"></i>\n            </v-btn>\n        </div>\n    </div>\n</template>\n\n<script>\n    export default {\n        data() {\n            return {\n                buttonStates: {\n                    1: false,\n                    2: false,\n                }\n            }\n        },\n        methods: {\n            buttonClicked: function (buttonNumber) {\n                if (buttonNumber == 1) {\n                    this.send({ payload: \"-1\" });\n                } else if (buttonNumber == 2) {\n                    this.send({ payload: \"+1\" });\n                }\n            }\n        }\n    }\n</script>\n\n<style>\n    .button-block {\n        display: flex;\n        justify-content: center;\n        align-items: center;\n        border: none;\n    }\n\n    .button-wrap {\n        margin: 10px;\n        text-align: center;\n        font-size: 20px;\n        border: none;\n        color: #0a6eca;\n    }\n\n    .my-button {\n        background-color: white;\n        font-size: 20px;\n        color: #0a6eca;\n        border: none;\n        box-shadow: none;\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 620,
        "y": 840,
        "wires": [
            [
                "b918e3464255b05e"
            ]
        ]
    },
    {
        "id": "b918e3464255b05e",
        "type": "link out",
        "z": "b4a53df95ffe5a7e",
        "g": "2be6ad508d7c21f1",
        "name": "link out 23",
        "mode": "link",
        "links": [
            "16534dd29852c72e"
        ],
        "x": 715,
        "y": 840,
        "wires": []
    },
    {
        "id": "ac3eeb992dd94baf",
        "type": "link out",
        "z": "b4a53df95ffe5a7e",
        "g": "5a0c5f993457e27b",
        "name": "link out 25",
        "mode": "link",
        "links": [
            "16534dd29852c72e",
            "77970bbf0f1edb5b"
        ],
        "x": 895,
        "y": 260,
        "wires": []
    },
    {
        "id": "b75fc087e03c7ba1",
        "type": "link out",
        "z": "b4a53df95ffe5a7e",
        "g": "5a0c5f993457e27b",
        "name": "link out 26",
        "mode": "link",
        "links": [
            "16534dd29852c72e",
            "77970bbf0f1edb5b"
        ],
        "x": 895,
        "y": 300,
        "wires": []
    },
    {
        "id": "b57c34652ca6dc20",
        "type": "link out",
        "z": "b4a53df95ffe5a7e",
        "g": "5a0c5f993457e27b",
        "name": "link out 27",
        "mode": "link",
        "links": [
            "16534dd29852c72e",
            "77970bbf0f1edb5b"
        ],
        "x": 895,
        "y": 340,
        "wires": []
    },
    {
        "id": "7b3155e3e8f122ab",
        "type": "ui-template",
        "z": "b7320d7a8092d013",
        "group": "",
        "page": "b59606fb98c818ca",
        "ui": "",
        "name": "Custom CSS",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "",
        "x": 610,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "f8817126da7d7948",
        "type": "ui-control",
        "z": "b7320d7a8092d013",
        "name": "",
        "ui": "1eeac55ba6b9065f",
        "events": "all",
        "x": 200,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "d5c7b49fc191116b",
        "type": "link in",
        "z": "b7320d7a8092d013",
        "name": "link in 28",
        "links": [
            "c7f94f75479b696d"
        ],
        "x": 75,
        "y": 40,
        "wires": [
            [
                "f8817126da7d7948"
            ]
        ]
    },
    {
        "id": "17a470bf9e9b2b78",
        "type": "ui-template",
        "z": "b7320d7a8092d013",
        "g": "d3b760ff4a5cd1e4",
        "group": "edd7517fed16d256",
        "page": "",
        "ui": "",
        "name": "",
        "order": 0,
        "width": "12",
        "height": "1",
        "head": "",
        "format": "<template>\n    <div class=\"button-block\">\n        <div class=\"button-wrap\">\n            <v-btn class=\"my-button\" @click=\"buttonClicked()\">\n                <i class=\"mdi mdi-arrow-left\"></i>\n            </v-btn>\n        </div>\n        <div class=\"button-wrap\">\n            <i class=\"mdi mdi-puzzle\"></i>\n        </div>\n    </div>\n</template>\n\n<script>\n    export default {\n        data() {\n            return {\n                buttonStates: {\n                    1: false,\n                    2: false,\n                }\n            }\n        },\n        methods: {\n            buttonClicked: function () {\n                this.send({ payload: \"-1\" });\n            }\n        }\n    }\n</script>\n\n<style>\n    .button-block {\n        display: flex;\n        justify-content: center;\n        align-items: center;\n        border: none;\n    }\n\n    .button-wrap {\n        margin: 10px;\n        text-align: center;\n        font-size: 20px;\n        border: none;\n        color: #0a6eca;\n    }\n\n    .my-button {\n        background-color: white;\n        font-size: 20px;\n        color: #0a6eca;\n        border: none;\n        box-shadow: none;\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 640,
        "y": 460,
        "wires": [
            [
                "c7f94f75479b696d"
            ]
        ]
    },
    {
        "id": "c7f94f75479b696d",
        "type": "link out",
        "z": "b7320d7a8092d013",
        "g": "d3b760ff4a5cd1e4",
        "name": "link out 24",
        "mode": "link",
        "links": [
            "d5c7b49fc191116b"
        ],
        "x": 735,
        "y": 460,
        "wires": []
    }
]