flows.json
[
    {
        "id": "a707f17e5367291d",
        "type": "tab",
        "label": "Page Home",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "981fcccea4aa6cd3",
        "type": "tab",
        "label": "Page Sample",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "856e96fc4678e0ab",
        "type": "tab",
        "label": "Page Preview",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b4a53df95ffe5a7e",
        "type": "tab",
        "label": "Page Acquisition",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b7320d7a8092d013",
        "type": "tab",
        "label": "Page Segmentation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9e50b5b27cc27750",
        "type": "group",
        "z": "a707f17e5367291d",
        "name": "Left",
        "style": {
            "label": true
        },
        "nodes": [
            "8d830e194c4c638c",
            "fdf53b09d89c279d",
            "34dbd3041722720a",
            "56cae65eafe7a2c2",
            "30e107bae928c06e",
            "44eb5b49b8b424a0",
            "075a15808a098657"
        ],
        "x": 74,
        "y": 219,
        "w": 632,
        "h": 302
    },
    {
        "id": "f4342ba54d87c333",
        "type": "group",
        "z": "a707f17e5367291d",
        "name": "Right",
        "style": {
            "label": true
        },
        "nodes": [
            "b1e36b2718644cab",
            "f366a87b6ae313da",
            "0dc415ec85c54eaf",
            "967f57a653bbd135",
            "9b648872ae81aab5",
            "c8ed469b996d6c31"
        ],
        "x": 274,
        "y": 919,
        "w": 432,
        "h": 302
    },
    {
        "id": "527d5d50cd394426",
        "type": "group",
        "z": "a707f17e5367291d",
        "name": "Top",
        "style": {
            "label": true
        },
        "nodes": [
            "323bd09eef621b97",
            "0fbc2b8ebb65e449"
        ],
        "x": 554,
        "y": 79,
        "w": 152,
        "h": 122
    },
    {
        "id": "332ccbf2ae090d80",
        "type": "group",
        "z": "a707f17e5367291d",
        "name": "Middle",
        "style": {
            "label": true
        },
        "nodes": [
            "723e895a8f1cda7f",
            "aa381230d4defcd0",
            "b05631dc409a09e2",
            "127bf74d5d7eab6b",
            "6bc8c275a77643bf",
            "7df6c5b3dd81f3d3"
        ],
        "x": 554,
        "y": 539,
        "w": 152,
        "h": 362
    },
    {
        "id": "b698ee124c6364a8",
        "type": "group",
        "z": "981fcccea4aa6cd3",
        "name": "Section two",
        "style": {
            "label": true
        },
        "nodes": [
            "0d548d9dedc42ca5",
            "4d9f66a9d7ff2fb3",
            "a6b029701951e396",
            "e96f71ebfe63a096",
            "c5c38b219eae9cb1",
            "5ce0f6f785b673d5"
        ],
        "x": 534,
        "y": 359,
        "w": 512,
        "h": 162
    },
    {
        "id": "cb3409a9c0969265",
        "type": "group",
        "z": "981fcccea4aa6cd3",
        "name": "Section one",
        "style": {
            "label": true
        },
        "nodes": [
            "9a745babe0aa57ff",
            "f25e848644692981",
            "99dd39f5bbec7746",
            "16a4c7cd1d7e8533",
            "70f610f6b44b688f",
            "fedc36d5e5a1233b",
            "ce0b97fbe12096d4",
            "4874dff54f36d7c5",
            "ea111f01cf618fcc",
            "dfa130d77e0f7593"
        ],
        "x": 534,
        "y": 139,
        "w": 512,
        "h": 202
    },
    {
        "id": "33c938d6423969a7",
        "type": "group",
        "z": "981fcccea4aa6cd3",
        "name": "Section three",
        "style": {
            "label": true
        },
        "nodes": [
            "b8243750773e70a7",
            "1b3f62dc4d377a48",
            "14f5347edcef1819",
            "c541da8f17509ff6",
            "54ed25532a21e31f",
            "940c9ff52c8397c5",
            "38bc4e7ef01de697",
            "256376a924474adf",
            "977d11b921fcd1ab"
        ],
        "x": 534,
        "y": 539,
        "w": 512,
        "h": 262
    },
    {
        "id": "da259b2c4e6e3578",
        "type": "group",
        "z": "981fcccea4aa6cd3",
        "name": "Section button",
        "style": {
            "label": true
        },
        "nodes": [
            "6fcfbd3718966cc5",
            "e287895877f1a53c",
            "145a816e57898c7f"
        ],
        "x": 534,
        "y": 819,
        "w": 512,
        "h": 82
    },
    {
        "id": "1eeac55ba6b9065f",
        "type": "ui-base",
        "name": "PlanktoScope Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "icon"
    },
    {
        "id": "43f40797e7f6bb4b",
        "type": "ui-page",
        "name": "Home",
        "ui": "1eeac55ba6b9065f",
        "path": "/home",
        "icon": "home",
        "layout": "grid",
        "theme": "c0ea559892f9bd33",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "0174b387db7315f9",
        "type": "ui-group",
        "name": "Top",
        "page": "43f40797e7f6bb4b",
        "width": "12",
        "height": "1",
        "order": -1,
        "showTitle": false,
        "className": "top-home",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "c0ea559892f9bd33",
        "type": "ui-theme",
        "name": "FairsSope Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#000000",
            "bgPage": "#ffffff",
            "groupBg": "#ffffff",
            "groupOutline": "#ffffff"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "0px",
            "groupBorderRadius": "4px",
            "widgetGap": "0px"
        }
    },
    {
        "id": "5aee203b5c149352",
        "type": "ui-group",
        "name": "Left",
        "page": "43f40797e7f6bb4b",
        "width": "4",
        "height": "7",
        "order": -1,
        "showTitle": false,
        "className": "left-home",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "18c4119d20b245af",
        "type": "ui-group",
        "name": "Midlle",
        "page": "43f40797e7f6bb4b",
        "width": "4",
        "height": "1",
        "order": -1,
        "showTitle": false,
        "className": "middle-home",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "a3b1938e41297818",
        "type": "ui-group",
        "name": "Right",
        "page": "43f40797e7f6bb4b",
        "width": "4",
        "height": "7",
        "order": -1,
        "showTitle": false,
        "className": "right-home",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "e7f37ce9c08266be",
        "type": "ui-page",
        "name": "Page Sample",
        "ui": "1eeac55ba6b9065f",
        "path": "/sample",
        "icon": "file",
        "layout": "grid",
        "theme": "c0ea559892f9bd33",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "3720bdc972d93bca",
        "type": "ui-page",
        "name": "Page Preview",
        "ui": "1eeac55ba6b9065f",
        "path": "/preview",
        "icon": "eye-outline",
        "layout": "grid",
        "theme": "c0ea559892f9bd33",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "156c087dabd0538c",
        "type": "ui-page",
        "name": "Page Acquisition",
        "ui": "1eeac55ba6b9065f",
        "path": "/acquisition",
        "icon": "camera",
        "layout": "grid",
        "theme": "c0ea559892f9bd33",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "b59606fb98c818ca",
        "type": "ui-page",
        "name": "Page Segmentation",
        "ui": "1eeac55ba6b9065f",
        "path": "/segmentation",
        "icon": "puzzle",
        "layout": "grid",
        "theme": "c0ea559892f9bd33",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "bad72850424336e4",
        "type": "ui-group",
        "name": "Section-one-title",
        "page": "e7f37ce9c08266be",
        "width": "12",
        "height": "1",
        "order": -1,
        "showTitle": false,
        "className": "section-title",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "dd8e995ac111df0c",
        "type": "ui-group",
        "name": "Section-one-body",
        "page": "e7f37ce9c08266be",
        "width": "12",
        "height": "1",
        "order": -1,
        "showTitle": false,
        "className": "section-one-body",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "0679dc4ce9f0e478",
        "type": "ui-group",
        "name": "Section-two-title",
        "page": "e7f37ce9c08266be",
        "width": "12",
        "height": "1",
        "order": -1,
        "showTitle": false,
        "className": "section-title",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "fac26d81ec165214",
        "type": "ui-group",
        "name": "Section-two-body",
        "page": "e7f37ce9c08266be",
        "width": "12",
        "height": "1",
        "order": -1,
        "showTitle": false,
        "className": "section-two-body",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "138464b8406179be",
        "type": "ui-group",
        "name": "Section-three-title",
        "page": "e7f37ce9c08266be",
        "width": "12",
        "height": "1",
        "order": -1,
        "showTitle": false,
        "className": "section-title",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "e7bc4036e18081e2",
        "type": "ui-group",
        "name": "Section-three-body",
        "page": "e7f37ce9c08266be",
        "width": "6",
        "height": "1",
        "order": -1,
        "showTitle": false,
        "className": "section-three-body",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "37db4ac7dd925282",
        "type": "ui-group",
        "name": "Section-four",
        "page": "e7f37ce9c08266be",
        "width": "12",
        "height": "1",
        "order": -1,
        "showTitle": false,
        "className": "section-four",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "8d830e194c4c638c",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "9e50b5b27cc27750",
        "group": "5aee203b5c149352",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "text",
        "label": "Software version",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "information-text",
        "x": 630,
        "y": 260,
        "wires": []
    },
    {
        "id": "fdf53b09d89c279d",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "9e50b5b27cc27750",
        "group": "5aee203b5c149352",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "text",
        "label": "Instrument type",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "information-text",
        "x": 630,
        "y": 320,
        "wires": []
    },
    {
        "id": "34dbd3041722720a",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "9e50b5b27cc27750",
        "group": "5aee203b5c149352",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "text",
        "label": "Instrument name",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "information-text",
        "x": 630,
        "y": 380,
        "wires": []
    },
    {
        "id": "b1e36b2718644cab",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "f4342ba54d87c333",
        "group": "a3b1938e41297818",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "text",
        "label": "Image taken",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "information-text",
        "x": 630,
        "y": 960,
        "wires": []
    },
    {
        "id": "f366a87b6ae313da",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "f4342ba54d87c333",
        "group": "a3b1938e41297818",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "text",
        "label": "Time used",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "information-text",
        "x": 630,
        "y": 1020,
        "wires": []
    },
    {
        "id": "0dc415ec85c54eaf",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "f4342ba54d87c333",
        "group": "a3b1938e41297818",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "text",
        "label": "Sample taken",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "information-text",
        "x": 630,
        "y": 1080,
        "wires": []
    },
    {
        "id": "e22e55f93548ed69",
        "type": "ui-template",
        "z": "a707f17e5367291d",
        "group": "",
        "page": "43f40797e7f6bb4b",
        "ui": "",
        "name": "Custom CSS",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": ".styled-button-visual .v-btn .v-icon {\n    height: 0px !important;\n    --v-icon-size-multiplier: 3;\n    color: #000000;\n}\n\n.styled-button-visual .v-btn {\n    background-color:rgba(255, 0, 0, 0);\n    padding: 2.5em 2.5em;\n}\n\n.button-label span.nrdb-ui-text-value {\n    color: #000000;\n    font-weight: bold;\n    font-size: 14px;\n    margin-bottom: 10%;\n}\n\n.styled-button .v-btn .v-icon {\n    height: 0px !important;\n    --v-icon-size-multiplier: 3;\n}\n\n.styled-button .v-btn {\n    padding: 3.5em 3.5em;\n}\n\n.title-top {\n    margin-bottom: 25px;\n}\n\n.top-button {\n    justify-content: center;\n    width: 100%;\n}\n\n.top-button .v-btn {\n    border-radius: 10px;\n}\n\n.top-button .v-btn * {\n    font-size: xx-large;\n    padding: 0.5em 2em;\n}\n\n.information-text label {\n    text-align: center;\n    background-color: #000000;\n    padding: 2% 12% 2% 12%;\n    min-width: 60%;\n    border-radius: 20px;\n    color: #ffffff\n}\n\n.information-text span.nrdb-ui-text-value {\n    color: #000000;\n    font-size: 14px;\n    margin-bottom: 11%;\n}\n\n.v-navigation-drawer {\n    border: 0px solid transparent;\n    color: #000000;\n}\n\n.elevation-1 {\n    box-shadow: 0 0px 0px 0px !important;\n}\n\n.v-toolbar-title__placeholder {\n    color: #000000 !important;\n    background-color: rgba(255, 255, 255, 0) !important;\n    font-weight: bold;\n}\n\ntemplate {\n    background-color: white !important;\n}\n\n.title-top {\n    align-content: center;\n    justify-content: center;\n}\n\n.top-home {\n    margin-bottom: 2rem;\n    background-color: transparent !important;\n}",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "",
        "x": 610,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "075a15808a098657",
        "type": "inject",
        "z": "a707f17e5367291d",
        "g": "9e50b5b27cc27750",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"software-version\":\"v2024.0.0-aplha.0\",\"instrument-type\":\"PlanktoScope v2.6\",\"instrument-name\":\"complete-wind-49753\"}",
        "payloadType": "json",
        "x": 180,
        "y": 320,
        "wires": [
            [
                "958e97d91b7af70f",
                "1d8323910805aad9",
                "e7fb51cac66d4d53"
            ]
        ]
    },
    {
        "id": "958e97d91b7af70f",
        "type": "function",
        "z": "a707f17e5367291d",
        "name": "function 1",
        "func": "var value = msg.payload[\"software-version\"];\n\nmsg.payload = value\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 260,
        "wires": [
            [
                "8d830e194c4c638c"
            ]
        ]
    },
    {
        "id": "1d8323910805aad9",
        "type": "function",
        "z": "a707f17e5367291d",
        "name": "function 2",
        "func": "var value = msg.payload[\"instrument-type\"];\n\nmsg.payload = value\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 320,
        "wires": [
            [
                "fdf53b09d89c279d"
            ]
        ]
    },
    {
        "id": "e7fb51cac66d4d53",
        "type": "function",
        "z": "a707f17e5367291d",
        "name": "function 3",
        "func": "var value = msg.payload[\"instrument-name\"];\n\nmsg.payload = value\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 380,
        "wires": [
            [
                "34dbd3041722720a"
            ]
        ]
    },
    {
        "id": "d80807f8f8f08a43",
        "type": "inject",
        "z": "a707f17e5367291d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"image-taken\":\"34.587.624\",\"time-used\":\"256h\",\"sample-taken\":\"10.000\"}",
        "payloadType": "json",
        "x": 160,
        "y": 1020,
        "wires": [
            [
                "1da8f6bad390834c",
                "c70fcb3a379e78b2",
                "107b489639a008f0"
            ]
        ]
    },
    {
        "id": "1da8f6bad390834c",
        "type": "function",
        "z": "a707f17e5367291d",
        "name": "function 4",
        "func": "var value = msg.payload[\"image-taken\"];\n\nmsg.payload = value\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 960,
        "wires": [
            [
                "b1e36b2718644cab"
            ]
        ]
    },
    {
        "id": "c70fcb3a379e78b2",
        "type": "function",
        "z": "a707f17e5367291d",
        "name": "function 5",
        "func": "var value = msg.payload[\"time-used\"];\n\nmsg.payload = value\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1020,
        "wires": [
            [
                "f366a87b6ae313da"
            ]
        ]
    },
    {
        "id": "107b489639a008f0",
        "type": "function",
        "z": "a707f17e5367291d",
        "name": "function 6",
        "func": "var value = msg.payload[\"sample-taken\"];\n\nmsg.payload = value\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1080,
        "wires": [
            [
                "0dc415ec85c54eaf"
            ]
        ]
    },
    {
        "id": "323bd09eef621b97",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "527d5d50cd394426",
        "group": "0174b387db7315f9",
        "order": 0,
        "width": "12",
        "height": "1",
        "name": "Title",
        "label": "PlanktoScope",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": true,
        "font": "Palatino Linotype,Palatino,Book Antiqua,serif",
        "fontSize": "74",
        "color": "#000000",
        "className": "title-top",
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "0fbc2b8ebb65e449",
        "type": "ui-button",
        "z": "a707f17e5367291d",
        "g": "527d5d50cd394426",
        "group": "0174b387db7315f9",
        "name": "button",
        "label": "Run a sample",
        "order": 0,
        "width": "0",
        "height": "0",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "top-button",
        "icon": "",
        "iconPosition": "left",
        "payload": "test",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 630,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "723e895a8f1cda7f",
        "type": "ui-button",
        "z": "a707f17e5367291d",
        "g": "332ccbf2ae090d80",
        "group": "18c4119d20b245af",
        "name": "button",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "styled-button",
        "icon": "file-find-outline",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 630,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "aa381230d4defcd0",
        "type": "ui-button",
        "z": "a707f17e5367291d",
        "g": "332ccbf2ae090d80",
        "group": "18c4119d20b245af",
        "name": "button",
        "label": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "styled-button",
        "icon": "wifi-cog",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 630,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "b05631dc409a09e2",
        "type": "ui-button",
        "z": "a707f17e5367291d",
        "g": "332ccbf2ae090d80",
        "group": "18c4119d20b245af",
        "name": "button",
        "label": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "styled-button",
        "icon": "comment-quote",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 630,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "127bf74d5d7eab6b",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "332ccbf2ae090d80",
        "group": "18c4119d20b245af",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "text",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "button-label",
        "x": 630,
        "y": 620,
        "wires": []
    },
    {
        "id": "6bc8c275a77643bf",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "332ccbf2ae090d80",
        "group": "18c4119d20b245af",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "text",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "button-label",
        "x": 630,
        "y": 740,
        "wires": []
    },
    {
        "id": "7df6c5b3dd81f3d3",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "332ccbf2ae090d80",
        "group": "18c4119d20b245af",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "text",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "button-label",
        "x": 630,
        "y": 860,
        "wires": []
    },
    {
        "id": "7645e99011d73972",
        "type": "inject",
        "z": "a707f17e5367291d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Documentation",
        "payloadType": "str",
        "x": 420,
        "y": 620,
        "wires": [
            [
                "127bf74d5d7eab6b"
            ]
        ]
    },
    {
        "id": "2f072d8a53688b53",
        "type": "inject",
        "z": "a707f17e5367291d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Connectivity",
        "payloadType": "str",
        "x": 410,
        "y": 740,
        "wires": [
            [
                "6bc8c275a77643bf"
            ]
        ]
    },
    {
        "id": "b9514c9c8ddcbb62",
        "type": "inject",
        "z": "a707f17e5367291d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Feedback",
        "payloadType": "str",
        "x": 400,
        "y": 860,
        "wires": [
            [
                "7df6c5b3dd81f3d3"
            ]
        ]
    },
    {
        "id": "56cae65eafe7a2c2",
        "type": "ui-button",
        "z": "a707f17e5367291d",
        "g": "9e50b5b27cc27750",
        "group": "5aee203b5c149352",
        "name": "button",
        "label": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "styled-button-visual",
        "icon": "wifi",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 630,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "30e107bae928c06e",
        "type": "inject",
        "z": "a707f17e5367291d",
        "g": "9e50b5b27cc27750",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Connected",
        "payloadType": "str",
        "x": 390,
        "y": 480,
        "wires": [
            [
                "44eb5b49b8b424a0"
            ]
        ]
    },
    {
        "id": "44eb5b49b8b424a0",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "9e50b5b27cc27750",
        "group": "5aee203b5c149352",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "text",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "button-label",
        "x": 630,
        "y": 480,
        "wires": []
    },
    {
        "id": "967f57a653bbd135",
        "type": "ui-text",
        "z": "a707f17e5367291d",
        "g": "f4342ba54d87c333",
        "group": "a3b1938e41297818",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "text",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "button-label",
        "x": 630,
        "y": 1180,
        "wires": []
    },
    {
        "id": "9b648872ae81aab5",
        "type": "inject",
        "z": "a707f17e5367291d",
        "g": "f4342ba54d87c333",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "250 Go Remaining",
        "payloadType": "str",
        "x": 410,
        "y": 1180,
        "wires": [
            [
                "967f57a653bbd135"
            ]
        ]
    },
    {
        "id": "c8ed469b996d6c31",
        "type": "ui-button",
        "z": "a707f17e5367291d",
        "g": "f4342ba54d87c333",
        "group": "a3b1938e41297818",
        "name": "button",
        "label": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "styled-button-visual",
        "icon": "sd",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 630,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "759b2907628ee6e4",
        "type": "ui-template",
        "z": "981fcccea4aa6cd3",
        "group": "",
        "page": "e7f37ce9c08266be",
        "ui": "",
        "name": "Custom CSS",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": ".section-four div.nrdb-layout-group--grid {\n    display: flex;\n    justify-content: space-between;\n}\n\n.section-three-body {\n    margin-bottom: 2rem;\n}\n\n.section-one-body div.nrdb-layout-group--grid {\n    grid-gap: 10px;\n}\n\n.section-two-body div.nrdb-layout-group--grid {\n    grid-gap: 10px;\n}\n\n.information-text label {\n    text-align: center;\n    background-color: #000000;\n    padding: 1% 8% 1% 8% !important;\n    margin: 0% !important;\n    min-width: 60%;\n    border-radius: 20px;\n    color: #ffffff;\n}\n\n.section-title .v-card-text {\n    padding: 0% 1rem !important;\n}\n\n.v-navigation-drawer {\n    border: 0px solid transparent;\n    color: #000000;\n    background-color: transparent !important;\n}\n\n.elevation-1 {\n    box-shadow: 0 0px 0px 0px !important;\n}\n\n.v-toolbar-title__placeholder {\n    color: #000000 !important;\n    font-weight: bold;\n}\n\ntemplate {\n    background-color: white !important;\n}",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "",
        "x": 810,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "9a745babe0aa57ff",
        "type": "ui-text",
        "z": "981fcccea4aa6cd3",
        "g": "cb3409a9c0969265",
        "group": "bad72850424336e4",
        "order": 0,
        "width": "6",
        "height": "1",
        "name": "text",
        "label": "Sample identification",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "information-text",
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "f25e848644692981",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "cb3409a9c0969265",
        "group": "dd8e995ac111df0c",
        "name": "",
        "label": "text",
        "order": 0,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 610,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "99dd39f5bbec7746",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "cb3409a9c0969265",
        "group": "dd8e995ac111df0c",
        "name": "",
        "label": "text",
        "order": 0,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 610,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "16a4c7cd1d7e8533",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "cb3409a9c0969265",
        "group": "dd8e995ac111df0c",
        "name": "",
        "label": "text",
        "order": 0,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 610,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "70f610f6b44b688f",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "cb3409a9c0969265",
        "group": "dd8e995ac111df0c",
        "name": "",
        "label": "text",
        "order": 0,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 790,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "fedc36d5e5a1233b",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "cb3409a9c0969265",
        "group": "dd8e995ac111df0c",
        "name": "",
        "label": "text",
        "order": 0,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 790,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "ce0b97fbe12096d4",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "cb3409a9c0969265",
        "group": "dd8e995ac111df0c",
        "name": "",
        "label": "text",
        "order": 0,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 790,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "4874dff54f36d7c5",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "cb3409a9c0969265",
        "group": "dd8e995ac111df0c",
        "name": "",
        "label": "text",
        "order": 0,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 970,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "ea111f01cf618fcc",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "cb3409a9c0969265",
        "group": "dd8e995ac111df0c",
        "name": "",
        "label": "text",
        "order": 0,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 970,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "dfa130d77e0f7593",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "cb3409a9c0969265",
        "group": "dd8e995ac111df0c",
        "name": "",
        "label": "text",
        "order": 0,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 970,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "0d548d9dedc42ca5",
        "type": "ui-text",
        "z": "981fcccea4aa6cd3",
        "g": "b698ee124c6364a8",
        "group": "0679dc4ce9f0e478",
        "order": 0,
        "width": "6",
        "height": "1",
        "name": "text",
        "label": "Coordinates - Datetime",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "information-text",
        "x": 610,
        "y": 400,
        "wires": []
    },
    {
        "id": "4d9f66a9d7ff2fb3",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "b698ee124c6364a8",
        "group": "fac26d81ec165214",
        "name": "text",
        "label": "Longitude",
        "order": 3,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 790,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "a6b029701951e396",
        "type": "ui-dropdown",
        "z": "981fcccea4aa6cd3",
        "g": "b698ee124c6364a8",
        "group": "fac26d81ec165214",
        "name": "Draw",
        "label": "Coordinates format",
        "tooltip": "",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "A",
                "value": "A",
                "type": "str"
            },
            {
                "label": "B",
                "value": "B",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 610,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "e96f71ebfe63a096",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "b698ee124c6364a8",
        "group": "fac26d81ec165214",
        "name": "text",
        "label": "Latitude",
        "order": 3,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 970,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "c5c38b219eae9cb1",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "b698ee124c6364a8",
        "group": "fac26d81ec165214",
        "name": "text",
        "label": "Min sampling depth",
        "order": 3,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 610,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "5ce0f6f785b673d5",
        "type": "ui-text-input",
        "z": "981fcccea4aa6cd3",
        "g": "b698ee124c6364a8",
        "group": "fac26d81ec165214",
        "name": "text",
        "label": "Max sampling depth",
        "order": 3,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 790,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "b8243750773e70a7",
        "type": "ui-text",
        "z": "981fcccea4aa6cd3",
        "g": "33c938d6423969a7",
        "group": "138464b8406179be",
        "order": 0,
        "width": "6",
        "height": "1",
        "name": "text",
        "label": "Fraction size",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "information-text",
        "x": 610,
        "y": 580,
        "wires": []
    },
    {
        "id": "1b3f62dc4d377a48",
        "type": "ui-text",
        "z": "981fcccea4aa6cd3",
        "g": "33c938d6423969a7",
        "group": "e7bc4036e18081e2",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "text",
        "label": "Min fraction size",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 790,
        "y": 620,
        "wires": []
    },
    {
        "id": "14f5347edcef1819",
        "type": "ui-text",
        "z": "981fcccea4aa6cd3",
        "g": "33c938d6423969a7",
        "group": "e7bc4036e18081e2",
        "order": 2,
        "width": "3",
        "height": "1",
        "name": "text",
        "label": "Max fraction size",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 790,
        "y": 720,
        "wires": []
    },
    {
        "id": "c541da8f17509ff6",
        "type": "ui-button",
        "z": "981fcccea4aa6cd3",
        "g": "33c938d6423969a7",
        "group": "e7bc4036e18081e2",
        "name": "",
        "label": "",
        "order": 5,
        "width": "1",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "plus",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "54ed25532a21e31f",
        "type": "ui-button",
        "z": "981fcccea4aa6cd3",
        "g": "33c938d6423969a7",
        "group": "e7bc4036e18081e2",
        "name": "",
        "label": "",
        "order": 3,
        "width": "1",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "minus",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 970,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "940c9ff52c8397c5",
        "type": "ui-text",
        "z": "981fcccea4aa6cd3",
        "g": "33c938d6423969a7",
        "group": "e7bc4036e18081e2",
        "order": 4,
        "width": "1",
        "height": "1",
        "name": "text",
        "label": "100",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 790,
        "y": 660,
        "wires": []
    },
    {
        "id": "38bc4e7ef01de697",
        "type": "ui-button",
        "z": "981fcccea4aa6cd3",
        "g": "33c938d6423969a7",
        "group": "e7bc4036e18081e2",
        "name": "",
        "label": "",
        "order": 6,
        "width": "1",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "minus",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 970,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "256376a924474adf",
        "type": "ui-text",
        "z": "981fcccea4aa6cd3",
        "g": "33c938d6423969a7",
        "group": "e7bc4036e18081e2",
        "order": 7,
        "width": "1",
        "height": "1",
        "name": "text",
        "label": "100",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 790,
        "y": 760,
        "wires": []
    },
    {
        "id": "977d11b921fcd1ab",
        "type": "ui-button",
        "z": "981fcccea4aa6cd3",
        "g": "33c938d6423969a7",
        "group": "e7bc4036e18081e2",
        "name": "",
        "label": "",
        "order": 8,
        "width": "1",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "plus",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "6fcfbd3718966cc5",
        "type": "ui-button",
        "z": "981fcccea4aa6cd3",
        "g": "da259b2c4e6e3578",
        "group": "37db4ac7dd925282",
        "name": "button",
        "label": "Cancel changes",
        "order": 0,
        "width": "2",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "e287895877f1a53c",
        "type": "ui-button",
        "z": "981fcccea4aa6cd3",
        "g": "da259b2c4e6e3578",
        "group": "37db4ac7dd925282",
        "name": "button",
        "label": "Switch to map",
        "order": 0,
        "width": "2",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 790,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "145a816e57898c7f",
        "type": "ui-button",
        "z": "981fcccea4aa6cd3",
        "g": "da259b2c4e6e3578",
        "group": "37db4ac7dd925282",
        "name": "button",
        "label": "Confirm changes",
        "order": 0,
        "width": "2",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "section-four-button-right",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 970,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "c3200c17efce8790",
        "type": "ui-template",
        "z": "856e96fc4678e0ab",
        "group": "",
        "page": "3720bdc972d93bca",
        "ui": "",
        "name": "Custom CSS",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": ".styled-button-visual .v-btn .v-icon {\n    height: 0px !important;\n    --v-icon-size-multiplier: 3;\n    color: #000000;\n}\n\n.styled-button-visual .v-btn {\n    background-color:rgba(255, 0, 0, 0);\n    padding: 2.5em 2.5em;\n}\n\n.button-label span.nrdb-ui-text-value {\n    color: #000000;\n    font-weight: bold;\n    font-size: 14px;\n    margin-bottom: 10%;\n}\n\n.styled-button .v-btn .v-icon {\n    height: 0px !important;\n    --v-icon-size-multiplier: 3;\n}\n\n.styled-button .v-btn {\n    padding: 3.5em 3.5em;\n}\n\n.home-top {\n    margin-bottom: 25px;\n}\n\n.top-button {\n    justify-content: center;\n    width: 100%;\n}\n\n.top-button .v-btn {\n    border-radius: 10px;\n}\n\n.top-button .v-btn * {\n    font-size: xx-large;\n    padding: 0.5em 2em;\n}\n\n.information-text label {\n    text-align: center;\n    background-color: #000000;\n    padding: 2% 12% 2% 12%;\n    min-width: 60%;\n    border-radius: 20px;\n    color: #ffffff\n}\n\n.information-text span.nrdb-ui-text-value {\n    color: #000000;\n    font-size: 14px;\n    margin-bottom: 11%;\n}\n\n.v-navigation-drawer {\n    border: 0px solid transparent;\n    color: #000000;\n    background-color: transparent !important;\n}\n\n.elevation-1 {\n    box-shadow: 0 0px 0px 0px !important;\n}\n\n.v-toolbar-title__placeholder {\n    color: #000000 !important;\n    font-weight: bold;\n}\n\ntemplate {\n    background-color: white !important;\n}\n\n.home-top {\n    align-content: center;\n    justify-content: center;\n}",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "",
        "x": 610,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "ee309fa792d75397",
        "type": "ui-template",
        "z": "b4a53df95ffe5a7e",
        "group": "",
        "page": "156c087dabd0538c",
        "ui": "",
        "name": "Custom CSS",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": ".styled-button-visual .v-btn .v-icon {\n    height: 0px !important;\n    --v-icon-size-multiplier: 3;\n    color: #000000;\n}\n\n.styled-button-visual .v-btn {\n    background-color:rgba(255, 0, 0, 0);\n    padding: 2.5em 2.5em;\n}\n\n.button-label span.nrdb-ui-text-value {\n    color: #000000;\n    font-weight: bold;\n    font-size: 14px;\n    margin-bottom: 10%;\n}\n\n.styled-button .v-btn .v-icon {\n    height: 0px !important;\n    --v-icon-size-multiplier: 3;\n}\n\n.styled-button .v-btn {\n    padding: 3.5em 3.5em;\n}\n\n.home-top {\n    margin-bottom: 25px;\n}\n\n.top-button {\n    justify-content: center;\n    width: 100%;\n}\n\n.top-button .v-btn {\n    border-radius: 10px;\n}\n\n.top-button .v-btn * {\n    font-size: xx-large;\n    padding: 0.5em 2em;\n}\n\n.information-text label {\n    text-align: center;\n    background-color: #000000;\n    padding: 2% 12% 2% 12%;\n    min-width: 60%;\n    border-radius: 20px;\n    color: #ffffff\n}\n\n.information-text span.nrdb-ui-text-value {\n    color: #000000;\n    font-size: 14px;\n    margin-bottom: 11%;\n}\n\n.v-navigation-drawer {\n    border: 0px solid transparent;\n    color: #000000;\n    background-color: transparent !important;\n}\n\n.elevation-1 {\n    box-shadow: 0 0px 0px 0px !important;\n}\n\n.v-toolbar-title__placeholder {\n    color: #000000 !important;\n    font-weight: bold;\n}\n\ntemplate {\n    background-color: white !important;\n}\n\n.home-top {\n    align-content: center;\n    justify-content: center;\n}",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "",
        "x": 610,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "7b3155e3e8f122ab",
        "type": "ui-template",
        "z": "b7320d7a8092d013",
        "group": "",
        "page": "b59606fb98c818ca",
        "ui": "",
        "name": "Custom CSS",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": ".styled-button-visual .v-btn .v-icon {\n    height: 0px !important;\n    --v-icon-size-multiplier: 3;\n    color: #000000;\n}\n\n.styled-button-visual .v-btn {\n    background-color:rgba(255, 0, 0, 0);\n    padding: 2.5em 2.5em;\n}\n\n.button-label span.nrdb-ui-text-value {\n    color: #000000;\n    font-weight: bold;\n    font-size: 14px;\n    margin-bottom: 10%;\n}\n\n.styled-button .v-btn .v-icon {\n    height: 0px !important;\n    --v-icon-size-multiplier: 3;\n}\n\n.styled-button .v-btn {\n    padding: 3.5em 3.5em;\n}\n\n.home-top {\n    margin-bottom: 25px;\n}\n\n.top-button {\n    justify-content: center;\n    width: 100%;\n}\n\n.top-button .v-btn {\n    border-radius: 10px;\n}\n\n.top-button .v-btn * {\n    font-size: xx-large;\n    padding: 0.5em 2em;\n}\n\n.information-text label {\n    text-align: center;\n    background-color: #000000;\n    padding: 2% 12% 2% 12%;\n    min-width: 60%;\n    border-radius: 20px;\n    color: #ffffff\n}\n\n.information-text span.nrdb-ui-text-value {\n    color: #000000;\n    font-size: 14px;\n    margin-bottom: 11%;\n}\n\n.v-navigation-drawer {\n    border: 0px solid transparent;\n    color: #000000;\n    background-color: transparent !important;\n}\n\n.elevation-1 {\n    box-shadow: 0 0px 0px 0px !important;\n}\n\n.v-toolbar-title__placeholder {\n    color: #000000 !important;\n    font-weight: bold;\n}\n\ntemplate {\n    background-color: white !important;\n}\n\n.home-top {\n    align-content: center;\n    justify-content: center;\n}",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "",
        "x": 610,
        "y": 40,
        "wires": [
            []
        ]
    }
]